---
layout: base.njk
title: "In the News"
description: "In the News"
slug: "in-the-news"
order: 999
date: 2024-04-19T15:54:00
---

<div data-elementor-type="wp-page" data-elementor-id="1480" class="elementor elementor-1480" data-elementor-post-type="page">
<section class="section element elementor-element-0424d8b elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="0424d8b" data-element_type="section" data-e-type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
<div class="background-overlay"></div>
<div class="container column-gap-default">
<div class="column elementor-top-column element elementor-element-7d969f0" data-id="7d969f0" data-element_type="column" data-e-type="column"><div class="widget-wrap"></div></div>
<div class="column elementor-top-column element elementor-element-b92a078" data-id="b92a078" data-element_type="column" data-e-type="column"><div class="widget-wrap element-populated">
<div class="element elementor-element-dd95203 fade-in widget widget-heading" data-id="dd95203" data-element_type="widget" data-e-type="widget" data-settings="{&quot;_animation&quot;:&quot;fadeIn&quot;}" data-widget_type="heading.default"><div class="elementor-widget-container"><h1 class="heading-title size-default">In the News</h1></div></div>
<div class="element elementor-element-e7d4210 elementor-widget-divider--view-line widget widget-divider" data-id="e7d4210" data-element_type="widget" data-e-type="widget" data-widget_type="divider.default"><div class="elementor-widget-container"><div class="divider"><span class="divider-separator"></span></div></div></div>
</div></div>
<div class="column elementor-top-column element elementor-element-2a8021c" data-id="2a8021c" data-element_type="column" data-e-type="column"><div class="widget-wrap"></div></div>
</div>
</section>
<div class="element elementor-element-d35dc95 e-flex e-con-boxed e-con e-parent" data-id="d35dc95" data-element_type="container" data-e-type="container">
<div class="e-con-inner">
<div class="element elementor-element-01e024b widget widget-elementskit-blog-posts" data-id="01e024b" data-element_type="widget" data-e-type="widget" data-widget_type="elementskit-blog-posts.default">
<div class="elementor-widget-container">
<div class="ekit-wid-con"><div id="post-items--01e024b" class="row post-items">
                    <div class="col-lg-4 col-md-6">

                                    <div class="elementskit-post-image-card">
                        <div class="elementskit-entry-header">
                                                            <a href="/news/big-win-for-maryland-election-integrity-secure-the-vote-act-of-2026-house-bill-964-filed/" class="elementskit-entry-thumb">
                                    <img decoding="async" src="https://securethevotemd.com/wp-content/uploads/2026/02/White-and-Brown-Minimal-Reflection-Quote-Facebook-Post1.png" alt="Big Win for Maryland Election Integrity — Secure the Vote Act of 2026 (House Bill 964) Filed!">
                                </a><!-- .elementskit-entry-thumb END -->
                                                                                                    <div class="elementskit-meta-lists elementskit-style-tag">
                                        <div class="elementskit-single-meta triangle_left"><span class="elementskit-meta-wraper"><strong>09</strong>Feb</span></div>
                                    </div>
</div><!-- .elementskit-entry-header END -->

<div class="elementskit-post-body ">

<div class="post-meta-list">
<span class="post-cat">
<i aria-hidden="true" class="icon icon-folder"></i>										<a href="https://securethevotemd.com/category/news/" rel="category tag">Press Release/News</a>									</span>
</div>


<h2 class="entry-title">
<a href="/news/big-win-for-maryland-election-integrity-secure-the-vote-act-of-2026-house-bill-964-filed/">
Big Win for Maryland Election Integrity — Secure the Vote Act of 2026 (House Bill 964) Filed!					</a>
</h2>
<p>We are thrilled to share some huge news out of Annapolis! On Wednesday, February 4, 2026, the hard work of the team at Secure the Vote Maryland paid off in a...</p>
                                                            <div class="btn-wraper">
                                                                            <a class="elementskit-btn whitespace--normal" id="" href="/news/big-win-for-maryland-election-integrity-secure-the-vote-act-of-2026-house-bill-964-filed/">
                                            READ MORE                                            <i aria-hidden="true" class="icon icon-arrow-right"></i>                                        </a>
                                    
                                                                    </div>
                                                    </div><!-- .elementskit-post-body END -->
                    </div>
                
            </div>
                    <div class="col-lg-4 col-md-6">

                                    <div class="elementskit-post-image-card">
                        <div class="elementskit-entry-header">
                                                            <a href="/news/secure-the-vote-maryland-hosts-successful-lobby-day-filing-of-the-secure-the-vote-act-of-2026/" class="elementskit-entry-thumb">
                                    <img decoding="async" src="https://securethevotemd.com/wp-content/uploads/2026/02/IMG_95831-768x1024.jpg" alt="Secure the Vote Maryland Hosts Successful Lobby Day - Filing of the Secure the Vote Act of 2026">
                                </a><!-- .elementskit-entry-thumb END -->
                                                                                                    <div class="elementskit-meta-lists elementskit-style-tag">
                                        <div class="elementskit-single-meta triangle_left"><span class="elementskit-meta-wraper"><strong>07</strong>Feb</span></div>
                                    </div>
</div><!-- .elementskit-entry-header END -->

<div class="elementskit-post-body ">

<div class="post-meta-list">
<span class="post-cat">
<i aria-hidden="true" class="icon icon-folder"></i>										<a href="https://securethevotemd.com/category/news/" rel="category tag">Press Release/News</a>									</span>
</div>


<h2 class="entry-title">
<a href="/news/secure-the-vote-maryland-hosts-successful-lobby-day-filing-of-the-secure-the-vote-act-of-2026/">
Secure the Vote Maryland Hosts Successful Lobby Day - Filing of the Secure the Vote Act of 2026					</a>
</h2>
<p>Annapolis, Maryland - February 6, 2026 On Wednesday, February 4, concerned citizens from across Maryland volunteered their time in Annapolis to advocate for ...</p>
                                                            <div class="btn-wraper">
                                                                            <a class="elementskit-btn whitespace--normal" id="" href="/news/secure-the-vote-maryland-hosts-successful-lobby-day-filing-of-the-secure-the-vote-act-of-2026/">
                                            READ MORE                                            <i aria-hidden="true" class="icon icon-arrow-right"></i>                                        </a>
                                    
                                                                    </div>
                                                    </div><!-- .elementskit-post-body END -->
                    </div>
                
            </div>
                    <div class="col-lg-4 col-md-6">

                                    <div class="elementskit-post-image-card">
                        <div class="elementskit-entry-header">
                                                            <a href="/news/secure-the-vote-act-2026-lobby-day-moved-indoors-due-to-cold-weather/" class="elementskit-entry-thumb">
                                    <img decoding="async" src="https://securethevotemd.com/wp-content/uploads/2026/02/PR-Lobby-Day-Moved-Indoors.png" alt="Secure the Vote Act 2026 Lobby Day Moved Indoors Due to Cold Weather">
                                </a><!-- .elementskit-entry-thumb END -->
                                                                                                    <div class="elementskit-meta-lists elementskit-style-tag">
                                        <div class="elementskit-single-meta triangle_left"><span class="elementskit-meta-wraper"><strong>03</strong>Feb</span></div>
                                    </div>
</div><!-- .elementskit-entry-header END -->

<div class="elementskit-post-body ">

<div class="post-meta-list">
<span class="post-cat">
<i aria-hidden="true" class="icon icon-folder"></i>										<a href="https://securethevotemd.com/category/news/" rel="category tag">Press Release/News</a>									</span>
</div>


<h2 class="entry-title">
<a href="/news/secure-the-vote-act-2026-lobby-day-moved-indoors-due-to-cold-weather/">
Secure the Vote Act 2026 Lobby Day Moved Indoors Due to Cold Weather					</a>
</h2>
<p>Annapolis, MD – February 3, 2026 — Due to cold weather, Secure the Vote Maryland (STVMD) has moved the Secure the Vote Act 2026 Lobby Day indoors. The event ...</p>
                                                            <div class="btn-wraper">
                                                                            <a class="elementskit-btn whitespace--normal" id="" href="/news/secure-the-vote-act-2026-lobby-day-moved-indoors-due-to-cold-weather/">
                                            READ MORE                                            <i aria-hidden="true" class="icon icon-arrow-right"></i>                                        </a>
                                    
                                                                    </div>
                                                    </div><!-- .elementskit-post-body END -->
                    </div>
                
            </div>
                    <div class="col-lg-4 col-md-6">

                                    <div class="elementskit-post-image-card">
                        <div class="elementskit-entry-header">
                                                            <a href="/news/secure-the-vote-maryland-testifies-against-redistricting-bill-hb488/" class="elementskit-entry-thumb">
                                    <img decoding="async" src="https://securethevotemd.com/wp-content/uploads/2026/02/Democracy-29.png" alt="Secure the Vote Maryland Testifies Against Redistricting Bill HB488">
                                </a><!-- .elementskit-entry-thumb END -->
                                                                                                    <div class="elementskit-meta-lists elementskit-style-tag">
                                        <div class="elementskit-single-meta triangle_left"><span class="elementskit-meta-wraper"><strong>03</strong>Feb</span></div>
                                    </div>
</div><!-- .elementskit-entry-header END -->

<div class="elementskit-post-body ">

<div class="post-meta-list">
<span class="post-cat">
<i aria-hidden="true" class="icon icon-folder"></i>										<a href="https://securethevotemd.com/category/news/" rel="category tag">Press Release/News</a>									</span>
</div>


<h2 class="entry-title">
<a href="/news/secure-the-vote-maryland-testifies-against-redistricting-bill-hb488/">
Secure the Vote Maryland Testifies Against Redistricting Bill HB488					</a>
</h2>
<p>Witness: Katherine Strauch Sullivan Jurisdiction: Baltimore County Bill: HB488 Election Districts - General Assembly and Representatives in Congress Position...</p>
                                                            <div class="btn-wraper">
                                                                            <a class="elementskit-btn whitespace--normal" id="" href="/news/secure-the-vote-maryland-testifies-against-redistricting-bill-hb488/">
                                            READ MORE                                            <i aria-hidden="true" class="icon icon-arrow-right"></i>                                        </a>
                                    
                                                                    </div>
                                                    </div><!-- .elementskit-post-body END -->
                    </div>
                
            </div>
                    <div class="col-lg-4 col-md-6">

                                    <div class="elementskit-post-image-card">
                        <div class="elementskit-entry-header">
                                                            <a href="/news/from-closed-doors-to-public-records-restoring-transparency-and-accountability-in-marylands-local-boards-of-elections/" class="elementskit-entry-thumb">
                                    <img decoding="async" src="https://securethevotemd.com/wp-content/uploads/2026/02/Democracy-28.png" alt="From Closed Doors to Public Records: Restoring Transparency and Accountability in Maryland’s Local Boards of Elections">
                                </a><!-- .elementskit-entry-thumb END -->
                                                                                                    <div class="elementskit-meta-lists elementskit-style-tag">
                                        <div class="elementskit-single-meta triangle_left"><span class="elementskit-meta-wraper"><strong>01</strong>Feb</span></div>
                                    </div>
</div><!-- .elementskit-entry-header END -->

<div class="elementskit-post-body ">

<div class="post-meta-list">
<span class="post-cat">
<i aria-hidden="true" class="icon icon-folder"></i>										<a href="https://securethevotemd.com/category/news/" rel="category tag">Press Release/News</a>									</span>
</div>


<h2 class="entry-title">
<a href="/news/from-closed-doors-to-public-records-restoring-transparency-and-accountability-in-marylands-local-boards-of-elections/">
From Closed Doors to Public Records: Restoring Transparency and Accountability in Maryland’s Local Boards of Elections					</a>
</h2>
<p>My name is Kelly Foster and I live in Frederick Maryland. Thank you for the opportunity to make public comment today. I attend many of the Frederick County B...</p>
                                                            <div class="btn-wraper">
                                                                            <a class="elementskit-btn whitespace--normal" id="" href="/news/from-closed-doors-to-public-records-restoring-transparency-and-accountability-in-marylands-local-boards-of-elections/">
                                            READ MORE                                            <i aria-hidden="true" class="icon icon-arrow-right"></i>                                        </a>
                                    
                                                                    </div>
                                                    </div><!-- .elementskit-post-body END -->
                    </div>
                
            </div>
                    <div class="col-lg-4 col-md-6">

                                    <div class="elementskit-post-image-card">
                        <div class="elementskit-entry-header">
                                                            <a href="/news/scammers-scambut-not-always-for-money/" class="elementskit-entry-thumb">
                                    <img decoding="async" src="https://securethevotemd.com/wp-content/uploads/2026/02/Democracy-3.png" alt="SCAMMERS SCAM…BUT NOT ALWAYS FOR MONEY">
                                </a><!-- .elementskit-entry-thumb END -->
                                                                                                    <div class="elementskit-meta-lists elementskit-style-tag">
                                        <div class="elementskit-single-meta triangle_left"><span class="elementskit-meta-wraper"><strong>01</strong>Feb</span></div>
                                    </div>
</div><!-- .elementskit-entry-header END -->

<div class="elementskit-post-body ">

<div class="post-meta-list">
<span class="post-cat">
<i aria-hidden="true" class="icon icon-folder"></i>										<a href="https://securethevotemd.com/category/news/" rel="category tag">Press Release/News</a>									</span>
</div>


<h2 class="entry-title">
<a href="/news/scammers-scambut-not-always-for-money/">
SCAMMERS SCAM…BUT NOT ALWAYS FOR MONEY					</a>
</h2>
<p>By: Dale E. Livingston, 1-31-26 Recently, our Sheriff’s Department sent out a video concerning scams that were perpetrated in our County by anonymous people ...</p>
                                                            <div class="btn-wraper">
                                                                            <a class="elementskit-btn whitespace--normal" id="" href="/news/scammers-scambut-not-always-for-money/">
                                            READ MORE                                            <i aria-hidden="true" class="icon icon-arrow-right"></i>                                        </a>
                                    
                                                                    </div>
                                                    </div><!-- .elementskit-post-body END -->
                    </div>
                
            </div>
                    <div class="col-lg-4 col-md-6">

                                    <div class="elementskit-post-image-card">
                        <div class="elementskit-entry-header">
                                                            <a href="/news/secure-the-vote-maryland-reschedules-secure-the-vote-act-2026-lobby-day-due-to-weather/" class="elementskit-entry-thumb">
                                    <img decoding="async" src="https://securethevotemd.com/wp-content/uploads/2026/01/White-and-Brown-Minimal-Reflection-Quote-Facebook-Post27.png" alt="Secure the Vote Maryland Reschedules Secure the Vote Act 2026 Lobby Day Due to Weather">
                                </a><!-- .elementskit-entry-thumb END -->
                                                                                                    <div class="elementskit-meta-lists elementskit-style-tag">
                                        <div class="elementskit-single-meta triangle_left"><span class="elementskit-meta-wraper"><strong>27</strong>Jan</span></div>
                                    </div>
</div><!-- .elementskit-entry-header END -->

<div class="elementskit-post-body ">

<div class="post-meta-list">
<span class="post-cat">
<i aria-hidden="true" class="icon icon-folder"></i>										<a href="https://securethevotemd.com/category/news/" rel="category tag">Press Release/News</a>									</span>
</div>


<h2 class="entry-title">
<a href="/news/secure-the-vote-maryland-reschedules-secure-the-vote-act-2026-lobby-day-due-to-weather/">
Secure the Vote Maryland Reschedules Secure the Vote Act 2026 Lobby Day Due to Weather					</a>
</h2>
<p>Annapolis, MD – January 26, 2026 Due to weather conditions, Secure the Vote Maryland (STVMD) has rescheduled the Secure the Vote Act 2026 Lobby Day from Tues...</p>
                                                            <div class="btn-wraper">
                                                                            <a class="elementskit-btn whitespace--normal" id="" href="/news/secure-the-vote-maryland-reschedules-secure-the-vote-act-2026-lobby-day-due-to-weather/">
                                            READ MORE                                            <i aria-hidden="true" class="icon icon-arrow-right"></i>                                        </a>
                                    
                                                                    </div>
                                                    </div><!-- .elementskit-post-body END -->
                    </div>
                
            </div>
                    <div class="col-lg-4 col-md-6">

                                    <div class="elementskit-post-image-card">
                        <div class="elementskit-entry-header">
                                                            <a href="/news/marylands-voter-roll-crisis-is-a-failure-of-enforcement-and-common-sense/" class="elementskit-entry-thumb">
                                    <img decoding="async" src="https://securethevotemd.com/wp-content/uploads/2026/01/Marylands-Voter-Roll-Crisis-Is-a-Failure-of-Enforcement—and-Common-Sense1.png" alt="Maryland’s Voter Roll Crisis Is a Failure of Enforcement—and Common Sense">
                                </a><!-- .elementskit-entry-thumb END -->
                                                                                                    <div class="elementskit-meta-lists elementskit-style-tag">
                                        <div class="elementskit-single-meta triangle_left"><span class="elementskit-meta-wraper"><strong>21</strong>Jan</span></div>
                                    </div>
</div><!-- .elementskit-entry-header END -->

<div class="elementskit-post-body ">

<div class="post-meta-list">
<span class="post-cat">
<i aria-hidden="true" class="icon icon-folder"></i>										<a href="https://securethevotemd.com/category/news/" rel="category tag">Press Release/News</a>									</span>
</div>


<h2 class="entry-title">
<a href="/news/marylands-voter-roll-crisis-is-a-failure-of-enforcement-and-common-sense/">
Maryland’s Voter Roll Crisis Is a Failure of Enforcement—and Common Sense					</a>
</h2>
<p>By Kate Sullivan Maryland’s election system is facing a quiet but catastrophic breakdown—one that undermines public confidence, bloats voter rolls with ineli...</p>
                                                            <div class="btn-wraper">
                                                                            <a class="elementskit-btn whitespace--normal" id="" href="/news/marylands-voter-roll-crisis-is-a-failure-of-enforcement-and-common-sense/">
                                            READ MORE                                            <i aria-hidden="true" class="icon icon-arrow-right"></i>                                        </a>
                                    
                                                                    </div>
                                                    </div><!-- .elementskit-post-body END -->
                    </div>
                
            </div>
                    <div class="col-lg-4 col-md-6">

                                    <div class="elementskit-post-image-card">
                        <div class="elementskit-entry-header">
                                                            <a href="/news/secure-the-vote-md-announces-secure-the-vote-act-2026-rally-in-annapolis/" class="elementskit-entry-thumb">
                                    <img decoding="async" src="https://securethevotemd.com/wp-content/uploads/2026/01/White-and-Brown-Minimal-Reflection-Quote-Facebook-Post26.png" alt="Secure the Vote MD Announces Secure the Vote Act 2026 Rally in Annapolis">
                                </a><!-- .elementskit-entry-thumb END -->
                                                                                                    <div class="elementskit-meta-lists elementskit-style-tag">
                                        <div class="elementskit-single-meta triangle_left"><span class="elementskit-meta-wraper"><strong>19</strong>Jan</span></div>
                                    </div>
</div><!-- .elementskit-entry-header END -->

<div class="elementskit-post-body ">

<div class="post-meta-list">
<span class="post-cat">
<i aria-hidden="true" class="icon icon-folder"></i>										<a href="https://securethevotemd.com/category/news/" rel="category tag">Press Release/News</a>									</span>
</div>


<h2 class="entry-title">
<a href="/news/secure-the-vote-md-announces-secure-the-vote-act-2026-rally-in-annapolis/">
Secure the Vote MD Announces Secure the Vote Act 2026 Rally in Annapolis					</a>
</h2>
<p>Annapolis, MD – January 20, 2026 Mark your calendars and join us at 9:00AM - 11:00 AM rescheduled to Wednesday, February 4, 2026, at Lawyers Mall in Annapoli...</p>
                                                            <div class="btn-wraper">
                                                                            <a class="elementskit-btn whitespace--normal" id="" href="/news/secure-the-vote-md-announces-secure-the-vote-act-2026-rally-in-annapolis/">
                                            READ MORE                                            <i aria-hidden="true" class="icon icon-arrow-right"></i>                                        </a>
                                    
                                                                    </div>
                                                    </div><!-- .elementskit-post-body END -->
                    </div>
                
            </div>
                    <div class="col-lg-4 col-md-6">

                                    <div class="elementskit-post-image-card">
                        <div class="elementskit-entry-header">
                                                            <a href="/news/proof-submitted-names-remain-dead-voters-still-on-marylands-rolls/" class="elementskit-entry-thumb">
                                    <img decoding="async" src="https://securethevotemd.com/wp-content/uploads/2026/01/ChatGPT-Image-Jan-14-2026-01_36_00-PM-1024x683.png" alt="Proof Submitted, Names Remain: Dead Voters Still on Maryland’s Rolls">
                                </a><!-- .elementskit-entry-thumb END -->
                                                                                                    <div class="elementskit-meta-lists elementskit-style-tag">
                                        <div class="elementskit-single-meta triangle_left"><span class="elementskit-meta-wraper"><strong>14</strong>Jan</span></div>
                                    </div>
</div><!-- .elementskit-entry-header END -->

<div class="elementskit-post-body ">

<div class="post-meta-list">
<span class="post-cat">
<i aria-hidden="true" class="icon icon-folder"></i>										<a href="https://securethevotemd.com/category/news/" rel="category tag">Press Release/News</a>									</span>
</div>


<h2 class="entry-title">
<a href="/news/proof-submitted-names-remain-dead-voters-still-on-marylands-rolls/">
Proof Submitted, Names Remain: Dead Voters Still on Maryland’s Rolls					</a>
</h2>
<p>JANUARY 7, 2026 - PRESENTATION BEFORE THE WORCESTER COUNTY BOARD OF ELECTIONS JANUARY 7, 2026 Thank you for your service to the community. We appreciate the ...</p>
                                                            <div class="btn-wraper">
                                                                            <a class="elementskit-btn whitespace--normal" id="" href="/news/proof-submitted-names-remain-dead-voters-still-on-marylands-rolls/">
                                            READ MORE                                            <i aria-hidden="true" class="icon icon-arrow-right"></i>                                        </a>
                                    
                                                                    </div>
                                                    </div><!-- .elementskit-post-body END -->
                    </div>
                
            </div>
                    <div class="col-lg-4 col-md-6">

                                    <div class="elementskit-post-image-card">
                        <div class="elementskit-entry-header">
                                                            <a href="/news/marylanders-rally-to-secure-our-elections-at-the-secure-the-vote-act-lobby-day/" class="elementskit-entry-thumb">
                                    <img decoding="async" src="https://securethevotemd.com/wp-content/uploads/2026/01/Democracy-8.png" alt="Marylanders Rally to Secure Our Elections at the Secure the Vote Act Lobby Day">
                                </a><!-- .elementskit-entry-thumb END -->
                                                                                                    <div class="elementskit-meta-lists elementskit-style-tag">
                                        <div class="elementskit-single-meta triangle_left"><span class="elementskit-meta-wraper"><strong>13</strong>Jan</span></div>
                                    </div>
</div><!-- .elementskit-entry-header END -->

<div class="elementskit-post-body ">

<div class="post-meta-list">
<span class="post-cat">
<i aria-hidden="true" class="icon icon-folder"></i>										<a href="https://securethevotemd.com/category/news/" rel="category tag">Press Release/News</a>									</span>
</div>


<h2 class="entry-title">
<a href="/news/marylanders-rally-to-secure-our-elections-at-the-secure-the-vote-act-lobby-day/">
Marylanders Rally to Secure Our Elections at the Secure the Vote Act Lobby Day					</a>
</h2>
<p>Rescheduled to Wednesday, February 4 at 9:00 a.m., Marylanders will gather on Lawyers Mall in Annapolis for Secure the Vote Act Lobby Day, a grassroots effor...</p>
                                                            <div class="btn-wraper">
                                                                            <a class="elementskit-btn whitespace--normal" id="" href="/news/marylanders-rally-to-secure-our-elections-at-the-secure-the-vote-act-lobby-day/">
                                            READ MORE                                            <i aria-hidden="true" class="icon icon-arrow-right"></i>                                        </a>
                                    
                                                                    </div>
                                                    </div><!-- .elementskit-post-body END -->
                    </div>
                
            </div>
                    <div class="col-lg-4 col-md-6">

                                    <div class="elementskit-post-image-card">
                        <div class="elementskit-entry-header">
                                                            <a href="/news/process-is-not-proof-marylands-voter-rolls-are-not-clean/" class="elementskit-entry-thumb">
                                    <img decoding="async" src="https://securethevotemd.com/wp-content/uploads/2026/01/Democracy-18.png" alt="Process Is Not Proof. Maryland’s Voter Rolls Are Not “Clean.”">
                                </a><!-- .elementskit-entry-thumb END -->
                                                                                                    <div class="elementskit-meta-lists elementskit-style-tag">
                                        <div class="elementskit-single-meta triangle_left"><span class="elementskit-meta-wraper"><strong>09</strong>Jan</span></div>
                                    </div>
</div><!-- .elementskit-entry-header END -->

<div class="elementskit-post-body ">

<div class="post-meta-list">
<span class="post-cat">
<i aria-hidden="true" class="icon icon-folder"></i>										<a href="https://securethevotemd.com/category/news/" rel="category tag">Press Release/News</a>									</span>
</div>


<h2 class="entry-title">
<a href="/news/process-is-not-proof-marylands-voter-rolls-are-not-clean/">
Process Is Not Proof. Maryland’s Voter Rolls Are Not “Clean.”					</a>
</h2>
<p>By Kate Sullivan Maryland State Board of Elections Administrator Director DeMarinis continues to claim that the process his office follows proves Maryland’s ...</p>
                                                            <div class="btn-wraper">
                                                                            <a class="elementskit-btn whitespace--normal" id="" href="/news/process-is-not-proof-marylands-voter-rolls-are-not-clean/">
                                            READ MORE                                            <i aria-hidden="true" class="icon icon-arrow-right"></i>                                        </a>
                                    
                                                                    </div>
                                                    </div><!-- .elementskit-post-body END -->
                    </div>
                
            </div>
                    <div class="col-lg-4 col-md-6">

                                    <div class="elementskit-post-image-card">
                        <div class="elementskit-entry-header">
                                                            <a href="/news/the-curious-case-of-ian-roberts/" class="elementskit-entry-thumb">
                                    <img decoding="async" src="https://securethevotemd.com/wp-content/uploads/2026/01/Democracy-20.png" alt="The Curious Case of Ian Roberts">
                                </a><!-- .elementskit-entry-thumb END -->
                                                                                                    <div class="elementskit-meta-lists elementskit-style-tag">
                                        <div class="elementskit-single-meta triangle_left"><span class="elementskit-meta-wraper"><strong>09</strong>Jan</span></div>
                                    </div>
</div><!-- .elementskit-entry-header END -->

<div class="elementskit-post-body ">

<div class="post-meta-list">
<span class="post-cat">
<i aria-hidden="true" class="icon icon-folder"></i>										<a href="https://securethevotemd.com/category/news/" rel="category tag">Press Release/News</a>									</span>
</div>


<h2 class="entry-title">
<a href="/news/the-curious-case-of-ian-roberts/">
The Curious Case of Ian Roberts					</a>
</h2>
<p>By Kate Sullivan By any reasonable standard, election integrity depends on records that align, systems that communicate, and public agencies that can confide...</p>
                                                            <div class="btn-wraper">
                                                                            <a class="elementskit-btn whitespace--normal" id="" href="/news/the-curious-case-of-ian-roberts/">
                                            READ MORE                                            <i aria-hidden="true" class="icon icon-arrow-right"></i>                                        </a>
                                    
                                                                    </div>
                                                    </div><!-- .elementskit-post-body END -->
                    </div>
                
            </div>
                    <div class="col-lg-4 col-md-6">

                                    <div class="elementskit-post-image-card">
                        <div class="elementskit-entry-header">
                                                            <a href="/news/why-the-harford-county-board-of-elections-open-meetings-complaint-raises-serious-transparency-concerns/" class="elementskit-entry-thumb">
                                    <img decoding="async" src="https://securethevotemd.com/wp-content/uploads/2026/01/Democracy-17.png" alt="Why the Harford County Board of Elections Open Meetings Complaint Raises Serious Transparency Concerns">
                                </a><!-- .elementskit-entry-thumb END -->
                                                                                                    <div class="elementskit-meta-lists elementskit-style-tag">
                                        <div class="elementskit-single-meta triangle_left"><span class="elementskit-meta-wraper"><strong>07</strong>Jan</span></div>
                                    </div>
</div><!-- .elementskit-entry-header END -->

<div class="elementskit-post-body ">

<div class="post-meta-list">
<span class="post-cat">
<i aria-hidden="true" class="icon icon-folder"></i>										<a href="https://securethevotemd.com/category/news/" rel="category tag">Press Release/News</a>									</span>
</div>


<h2 class="entry-title">
<a href="/news/why-the-harford-county-board-of-elections-open-meetings-complaint-raises-serious-transparency-concerns/">
Why the Harford County Board of Elections Open Meetings Complaint Raises Serious Transparency Concerns					</a>
</h2>
<p>An Unannounced Board Meeting Lasting 88 MinutesBy Jolie McShane, Secure the Vote MD Election transparency depends on one basic principle: the public must kno...</p>
                                                            <div class="btn-wraper">
                                                                            <a class="elementskit-btn whitespace--normal" id="" href="/news/why-the-harford-county-board-of-elections-open-meetings-complaint-raises-serious-transparency-concerns/">
                                            READ MORE                                            <i aria-hidden="true" class="icon icon-arrow-right"></i>                                        </a>
                                    
                                                                    </div>
                                                    </div><!-- .elementskit-post-body END -->
                    </div>
                
            </div>
                    <div class="col-lg-4 col-md-6">

                                    <div class="elementskit-post-image-card">
                        <div class="elementskit-entry-header">
                                                            <a href="/news/keep-your-vote-secure-check-your-maryland-voter-registration/" class="elementskit-entry-thumb">
                                    <img decoding="async" src="https://securethevotemd.com/wp-content/uploads/2025/12/Facebook-Post-Secure-Your-Maryland-Vote-Graphic-1.png" alt="KEEP YOUR VOTE SECURE: Check Your Maryland Voter Registration">
                                </a><!-- .elementskit-entry-thumb END -->
                                                                                                    <div class="elementskit-meta-lists elementskit-style-tag">
                                        <div class="elementskit-single-meta triangle_left"><span class="elementskit-meta-wraper"><strong>04</strong>Dec</span></div>
                                    </div>
</div><!-- .elementskit-entry-header END -->

<div class="elementskit-post-body ">

<div class="post-meta-list">
<span class="post-cat">
<i aria-hidden="true" class="icon icon-folder"></i>										<a href="https://securethevotemd.com/category/news/" rel="category tag">Press Release/News</a>									</span>
</div>


<h2 class="entry-title">
<a href="/news/keep-your-vote-secure-check-your-maryland-voter-registration/">
KEEP YOUR VOTE SECURE: Check Your Maryland Voter Registration					</a>
</h2>
<p>One of the easiest ways to protect your vote—and strengthen Maryland’s election system—is to make sure your voter registration is accurate and up to date. Ev...</p>
                                                            <div class="btn-wraper">
                                                                            <a class="elementskit-btn whitespace--normal" id="" href="/news/keep-your-vote-secure-check-your-maryland-voter-registration/">
                                            READ MORE                                            <i aria-hidden="true" class="icon icon-arrow-right"></i>                                        </a>
                                    
                                                                    </div>
                                                    </div><!-- .elementskit-post-body END -->
                    </div>
                
            </div>
                    <div class="col-lg-4 col-md-6">

                                    <div class="elementskit-post-image-card">
                        <div class="elementskit-entry-header">
                                                            <a href="/news/board-of-elections/" class="elementskit-entry-thumb">
                                    <img decoding="async" src="https://securethevotemd.com/wp-content/uploads/2025/11/White-and-Brown-Minimal-Reflection-Quote-Facebook-Post.png" alt="Strengthening Accountability Between GOP Central Committees and Board of Elections Members">
                                </a><!-- .elementskit-entry-thumb END -->
                                                                                                    <div class="elementskit-meta-lists elementskit-style-tag">
                                        <div class="elementskit-single-meta triangle_left"><span class="elementskit-meta-wraper"><strong>22</strong>Nov</span></div>
                                    </div>
</div><!-- .elementskit-entry-header END -->

<div class="elementskit-post-body ">

<div class="post-meta-list">
<span class="post-cat">
<i aria-hidden="true" class="icon icon-folder"></i>										<a href="https://securethevotemd.com/category/news/" rel="category tag">Press Release/News</a>									</span>
</div>


<h2 class="entry-title">
<a href="/news/board-of-elections/">
Strengthening Accountability Between GOP Central Committees and Board of Elections Members					</a>
</h2>
<p>Strengthening Accountability Between GOP Central Committees and Board of Election Members</p>
                                                            <div class="btn-wraper">
                                                                            <a class="elementskit-btn whitespace--normal" id="" href="/news/board-of-elections/">
                                            READ MORE                                            <i aria-hidden="true" class="icon icon-arrow-right"></i>                                        </a>
                                    
                                                                    </div>
                                                    </div><!-- .elementskit-post-body END -->
                    </div>
                
            </div>
                    <div class="col-lg-4 col-md-6">

                                    <div class="elementskit-post-image-card">
                        <div class="elementskit-entry-header">
                                                            <a href="/news/secure-elections-selling-the-illusion/" class="elementskit-entry-thumb">
                                    <img decoding="async" src="https://securethevotemd.com/wp-content/uploads/2025/11/Democracy-15.png" alt="Secure Elections - Selling the Illusion">
                                </a><!-- .elementskit-entry-thumb END -->
                                                                                                    <div class="elementskit-meta-lists elementskit-style-tag">
                                        <div class="elementskit-single-meta triangle_left"><span class="elementskit-meta-wraper"><strong>14</strong>Nov</span></div>
                                    </div>
</div><!-- .elementskit-entry-header END -->

<div class="elementskit-post-body ">

<div class="post-meta-list">
<span class="post-cat">
<i aria-hidden="true" class="icon icon-folder"></i>										<a href="https://securethevotemd.com/category/news/" rel="category tag">Press Release/News</a>									</span>
</div>


<h2 class="entry-title">
<a href="/news/secure-elections-selling-the-illusion/">
Secure Elections - Selling the Illusion					</a>
</h2>
<p>Secure Elections - Maryland State Board of Elections Selling the Illusion with the League of Women Voters</p>
                                                            <div class="btn-wraper">
                                                                            <a class="elementskit-btn whitespace--normal" id="" href="/news/secure-elections-selling-the-illusion/">
                                            READ MORE                                            <i aria-hidden="true" class="icon icon-arrow-right"></i>                                        </a>
                                    
                                                                    </div>
                                                    </div><!-- .elementskit-post-body END -->
                    </div>
                
            </div>
                    <div class="col-lg-4 col-md-6">

                                    <div class="elementskit-post-image-card">
                        <div class="elementskit-entry-header">
                                                            <a href="/news/league-of-women-voters-election-security-forum-was-intellectual-waterboarding/" class="elementskit-entry-thumb">
                                    <img decoding="async" src="https://securethevotemd.com/wp-content/uploads/2025/11/Black-and-Yellow-Bold-We-Are-Hiring-Facebook-Post1.png" alt="League of Women Voters “Election Security” Forum Was Intellectual Waterboarding">
                                </a><!-- .elementskit-entry-thumb END -->
                                                                                                    <div class="elementskit-meta-lists elementskit-style-tag">
                                        <div class="elementskit-single-meta triangle_left"><span class="elementskit-meta-wraper"><strong>14</strong>Nov</span></div>
                                    </div>
</div><!-- .elementskit-entry-header END -->

<div class="elementskit-post-body ">

<div class="post-meta-list">
<span class="post-cat">
<i aria-hidden="true" class="icon icon-folder"></i>										<a href="https://securethevotemd.com/category/news/" rel="category tag">Press Release/News</a>									</span>
</div>


<h2 class="entry-title">
<a href="/news/league-of-women-voters-election-security-forum-was-intellectual-waterboarding/">
League of Women Voters “Election Security” Forum Was Intellectual Waterboarding					</a>
</h2>
<p>By Kate Sullivan Last evening, the League of Women Voters hosted a forum titled, "How Secure is Your Vote?” — but let’s not pretend it was anything close to ...</p>
                                                            <div class="btn-wraper">
                                                                            <a class="elementskit-btn whitespace--normal" id="" href="/news/league-of-women-voters-election-security-forum-was-intellectual-waterboarding/">
                                            READ MORE                                            <i aria-hidden="true" class="icon icon-arrow-right"></i>                                        </a>
                                    
                                                                    </div>
                                                    </div><!-- .elementskit-post-body END -->
                    </div>
                
            </div>
                    <div class="col-lg-4 col-md-6">

                                    <div class="elementskit-post-image-card">
                        <div class="elementskit-entry-header">
                                                            <a href="/news/voting-rights-at-risk-maryland-elections-director-doesnt-grasp-vote-dilution-principle/" class="elementskit-entry-thumb">
                                    <img decoding="async" src="https://securethevotemd.com/wp-content/uploads/2025/10/White-and-Brown-Minimal-Reflection-Quote-Facebook-Post24.png" alt="Voting Rights at Risk: Maryland Elections Director Doesn’t Grasp Vote Dilution Principle">
                                </a><!-- .elementskit-entry-thumb END -->
                                                                                                    <div class="elementskit-meta-lists elementskit-style-tag">
                                        <div class="elementskit-single-meta triangle_left"><span class="elementskit-meta-wraper"><strong>30</strong>Oct</span></div>
                                    </div>
</div><!-- .elementskit-entry-header END -->

<div class="elementskit-post-body ">

<div class="post-meta-list">
<span class="post-cat">
<i aria-hidden="true" class="icon icon-folder"></i>										<a href="https://securethevotemd.com/category/news/" rel="category tag">Press Release/News</a>									</span>
</div>


<h2 class="entry-title">
<a href="/news/voting-rights-at-risk-maryland-elections-director-doesnt-grasp-vote-dilution-principle/">
Voting Rights at Risk: Maryland Elections Director Doesn’t Grasp Vote Dilution Principle					</a>
</h2>
<p>Press Release - Voting Rights at Risk: Maryland Elections Director Doesn't Grasp Vote Dilution Principle</p>
                                                            <div class="btn-wraper">
                                                                            <a class="elementskit-btn whitespace--normal" id="" href="/news/voting-rights-at-risk-maryland-elections-director-doesnt-grasp-vote-dilution-principle/">
                                            READ MORE                                            <i aria-hidden="true" class="icon icon-arrow-right"></i>                                        </a>
                                    
                                                                    </div>
                                                    </div><!-- .elementskit-post-body END -->
                    </div>
                
            </div>
                    <div class="col-lg-4 col-md-6">

                                    <div class="elementskit-post-image-card">
                        <div class="elementskit-entry-header">
                                                            <a href="/news/maryland-state-board-of-elections-october-meeting-exposes-alarming-attitudes-on-voter-integrity/" class="elementskit-entry-thumb">
                                    <img decoding="async" src="https://securethevotemd.com/wp-content/uploads/2025/10/Untitled-design15.png" alt="Maryland State Board of Elections October Meeting Exposes Alarming Attitudes on Voter Integrity">
                                </a><!-- .elementskit-entry-thumb END -->
                                                                                                    <div class="elementskit-meta-lists elementskit-style-tag">
                                        <div class="elementskit-single-meta triangle_left"><span class="elementskit-meta-wraper"><strong>30</strong>Oct</span></div>
                                    </div>
</div><!-- .elementskit-entry-header END -->

<div class="elementskit-post-body ">

<div class="post-meta-list">
<span class="post-cat">
<i aria-hidden="true" class="icon icon-folder"></i>										<a href="https://securethevotemd.com/category/news/" rel="category tag">Press Release/News</a>									</span>
</div>


<h2 class="entry-title">
<a href="/news/maryland-state-board-of-elections-october-meeting-exposes-alarming-attitudes-on-voter-integrity/">
Maryland State Board of Elections October Meeting Exposes Alarming Attitudes on Voter Integrity					</a>
</h2>
<p>On October 2025, the Maryland State Board of Elections held its monthly meeting, which included a revealing 25-minute discussion beginning at approximately 1...</p>
                                                            <div class="btn-wraper">
                                                                            <a class="elementskit-btn whitespace--normal" id="" href="/news/maryland-state-board-of-elections-october-meeting-exposes-alarming-attitudes-on-voter-integrity/">
                                            READ MORE                                            <i aria-hidden="true" class="icon icon-arrow-right"></i>                                        </a>
                                    
                                                                    </div>
                                                    </div><!-- .elementskit-post-body END -->
                    </div>
                
            </div>
                    <div class="col-lg-4 col-md-6">

                                    <div class="elementskit-post-image-card">
                        <div class="elementskit-entry-header">
                                                            <a href="/news/statement-in-response-to-maryland-attorney-generals-may-5-lawsuit-announcement/" class="elementskit-entry-thumb">
                                    <img decoding="async" src="https://securethevotemd.com/wp-content/uploads/2024/04/article_suppression.jpeg" alt="">
                                </a><!-- .elementskit-entry-thumb END -->
                                                                                                    <div class="elementskit-meta-lists elementskit-style-tag">
                                        <div class="elementskit-single-meta triangle_left"><span class="elementskit-meta-wraper"><strong>12</strong>May</span></div>
                                    </div>
</div><!-- .elementskit-entry-header END -->

<div class="elementskit-post-body ">

<div class="post-meta-list">
<span class="post-cat">
<i aria-hidden="true" class="icon icon-folder"></i>										<a href="https://securethevotemd.com/category/news/" rel="category tag">Press Release/News</a>									</span>
</div>


<h2 class="entry-title">
<a href="/news/statement-in-response-to-maryland-attorney-generals-may-5-lawsuit-announcement/">
					</a>
</h2>
<p></p>
                                                            <div class="btn-wraper">
                                                                            <a class="elementskit-btn whitespace--normal" id="" href="/news/statement-in-response-to-maryland-attorney-generals-may-5-lawsuit-announcement/">
                                            READ MORE                                            <i aria-hidden="true" class="icon icon-arrow-right"></i>                                        </a>
                                    
                                                                    </div>
                                                    </div><!-- .elementskit-post-body END -->
                    </div>
                
            </div>
                    <div class="col-lg-4 col-md-6">

                                    <div class="elementskit-post-image-card">
                        <div class="elementskit-entry-header">
                                                            <a href="/news/response-to-the-maryland-state-board-of-elections-statement-on-president-trumps-executive-order/" class="elementskit-entry-thumb">
                                    <img decoding="async" src="https://securethevotemd.com/wp-content/uploads/2024/04/article_suppression.jpeg" alt="">
                                </a><!-- .elementskit-entry-thumb END -->
                                                                                                    <div class="elementskit-meta-lists elementskit-style-tag">
                                        <div class="elementskit-single-meta triangle_left"><span class="elementskit-meta-wraper"><strong>31</strong>Mar</span></div>
                                    </div>
</div><!-- .elementskit-entry-header END -->

<div class="elementskit-post-body ">

<div class="post-meta-list">
<span class="post-cat">
<i aria-hidden="true" class="icon icon-folder"></i>										<a href="https://securethevotemd.com/category/news/" rel="category tag">Press Release/News</a>									</span>
</div>


<h2 class="entry-title">
<a href="/news/response-to-the-maryland-state-board-of-elections-statement-on-president-trumps-executive-order/">
					</a>
</h2>
<p></p>
                                                            <div class="btn-wraper">
                                                                            <a class="elementskit-btn whitespace--normal" id="" href="/news/response-to-the-maryland-state-board-of-elections-statement-on-president-trumps-executive-order/">
                                            READ MORE                                            <i aria-hidden="true" class="icon icon-arrow-right"></i>                                        </a>
                                    
                                                                    </div>
                                                    </div><!-- .elementskit-post-body END -->
                    </div>
                
            </div>
</div></div></div></div></div></div>
