---
layout: base.njk
title: "Lawsuit Document"
description: "Lawsuit Document On March 5th, 2024, Maryland Election Integrity LLC and United Sovereign Americans, Inc. brought a Complaint for Declaratory and Injunctive Relief against the Maryland State Board of Elections (hereinafter referred to as MDSBE). The two groups are seeking to hold the MDSBE accountable for the apparent deficient Maryland State Voter Registration Database, improper [&hellip;]"
slug: "lawsuit-document"
order: 999
date: 2024-04-19T15:49:48



---

<div data-elementor-type="wp-page" data-elementor-id="1476" class="elementor elementor-1476" data-elementor-post-type="page">
<section class="section element elementor-element-0424d8b elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="0424d8b" data-element_type="section" data-e-type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
<div class="background-overlay"></div>
<div class="container column-gap-default">
<div class="column elementor-top-column element elementor-element-7d969f0" data-id="7d969f0" data-element_type="column" data-e-type="column">
<div class="widget-wrap">
</div>
</div>
<div class="column elementor-top-column element elementor-element-b92a078" data-id="b92a078" data-element_type="column" data-e-type="column">
<div class="widget-wrap element-populated">
<div class="element elementor-element-dd95203 fade-in widget widget-heading" data-id="dd95203" data-element_type="widget" data-e-type="widget" data-settings="{&quot;_animation&quot;:&quot;fadeIn&quot;}" data-widget_type="heading.default">
<div class="elementor-widget-container">
<h1 class="heading-title size-default">Lawsuit Document</h1>				</div>
</div>
<div class="element elementor-element-e7d4210 elementor-widget-divider--view-line widget widget-divider" data-id="e7d4210" data-element_type="widget" data-e-type="widget" data-widget_type="divider.default">
<div class="elementor-widget-container">
<div class="divider">
<span class="divider-separator">
</span>
</div>
</div>
</div>
</div>
</div>
<div class="column elementor-top-column element elementor-element-2a8021c" data-id="2a8021c" data-element_type="column" data-e-type="column">
<div class="widget-wrap">
</div>
</div>
</div>
</section>
<div class="element elementor-element-d35dc95 e-flex e-con-boxed e-con e-parent" data-id="d35dc95" data-element_type="container" data-e-type="container">
<div class="e-con-inner">
<div class="element elementor-element-dee3143 widget widget-text-editor" data-id="dee3143" data-element_type="widget" data-e-type="widget" data-widget_type="text-editor.default">
<div class="elementor-widget-container">
<p style="text-align: center;">On March 5th, 2024, Maryland Election Integrity LLC and United Sovereign Americans, Inc. brought a Complaint for Declaratory and Injunctive Relief against the Maryland State Board of Elections (hereinafter referred to as MDSBE). The two groups are seeking to hold the MDSBE accountable for the apparent deficient Maryland State Voter Registration Database, improper certification of voting machines, and noncompliance with the Public Information Act (PIA). The plaintiffs primary purpose for filing the lawsuit is to force these identified issues to be addressed and remedied in advance of the 2024 election.</p>								</div>
</div>
<div class="element elementor-element-01e024b widget widget-elementskit-blog-posts" data-id="01e024b" data-element_type="widget" data-e-type="widget" data-widget_type="elementskit-blog-posts.default">
<div class="elementor-widget-container">
<div class="ekit-wid-con" >        <div id="post-items--01e024b" class="row post-items">
                    <div class="col-lg-4 col-md-6">

                                    <div class="elementskit-post-image-card">
                        <div class="elementskit-entry-header">
                                                            <a href="https://securethevotemd.com/2024/08/29/reply-brief-of-appellants/" class="elementskit-entry-thumb">
                                    <img decoding="async" src="https://securethevotemd.com/wp-content/uploads/2024/04/political-leaders-at-conference-1024x683.jpg" alt="REPLY BRIEF OF APPELLANTS">
                                </a><!-- .elementskit-entry-thumb END -->
                                                                                                    <div class="elementskit-meta-lists elementskit-style-tag">
                                        <div class="elementskit-single-meta triangle_left"><span class="elementskit-meta-wraper"><strong>29</strong>Aug</span></div>
                                    </div>
                                                                                            
                            
</div><!-- .elementskit-entry-header END -->

<div class="elementskit-post-body ">

<div class="post-meta-list">
<span class="post-cat">
<i aria-hidden="true" class="icon icon-folder"></i>										<a href="https://securethevotemd.com/category/lawsuit-document/" rel="category tag">Lawsuit Document</a> | <a href="https://securethevotemd.com/category/uncategorized/" rel="category tag">Uncategorized</a>									</span>
</div>


<h2 class="entry-title">
<a href="https://securethevotemd.com/2024/08/29/reply-brief-of-appellants/">
REPLY BRIEF OF APPELLANTS					</a>
</h2>
<p></p>
                                                            <div class="btn-wraper">
                                                                            <a class="elementskit-btn whitespace--normal" id="" href="https://securethevotemd.com/2024/08/29/reply-brief-of-appellants/">
                                            READ MORE                                            <i aria-hidden="true" class="icon icon-arrow-right"></i>                                        </a>
                                    
                                                                    </div>
                                                    </div><!-- .elementskit-post-body END -->
                    </div>
                
            </div>
                    <div class="col-lg-4 col-md-6">

                                    <div class="elementskit-post-image-card">
                        <div class="elementskit-entry-header">
                                                            <a href="https://securethevotemd.com/2024/07/09/united-states-court-of-appeals/" class="elementskit-entry-thumb">
                                    <img decoding="async" src="https://securethevotemd.com/wp-content/uploads/2024/08/cropped-cropped-495daisFromBack-scaled-1-e1623945300557-1024x494.jpg" alt="UNITED STATES COURT OF APPEALS">
                                </a><!-- .elementskit-entry-thumb END -->
                                                                                                    <div class="elementskit-meta-lists elementskit-style-tag">
                                        <div class="elementskit-single-meta triangle_left"><span class="elementskit-meta-wraper"><strong>09</strong>Jul</span></div>
                                    </div>
                                                                                            
                            
</div><!-- .elementskit-entry-header END -->

<div class="elementskit-post-body ">

<div class="post-meta-list">
<span class="post-cat">
<i aria-hidden="true" class="icon icon-folder"></i>										<a href="https://securethevotemd.com/category/lawsuit-document/" rel="category tag">Lawsuit Document</a> | <a href="https://securethevotemd.com/category/uncategorized/" rel="category tag">Uncategorized</a>									</span>
</div>


<h2 class="entry-title">
<a href="https://securethevotemd.com/2024/07/09/united-states-court-of-appeals/">
UNITED STATES COURT OF APPEALS					</a>
</h2>
<p></p>
                                                            <div class="btn-wraper">
                                                                            <a class="elementskit-btn whitespace--normal" id="" href="https://securethevotemd.com/2024/07/09/united-states-court-of-appeals/">
                                            READ MORE                                            <i aria-hidden="true" class="icon icon-arrow-right"></i>                                        </a>
                                    
                                                                    </div>
                                                    </div><!-- .elementskit-post-body END -->
                    </div>
                
            </div>
                    <div class="col-lg-4 col-md-6">

                                    <div class="elementskit-post-image-card">
                        <div class="elementskit-entry-header">
                                                            <a href="https://securethevotemd.com/2024/05/21/filing-notice-of-appeal/" class="elementskit-entry-thumb">
                                    <img decoding="async" src="https://securethevotemd.com/wp-content/uploads/2024/05/can-i-appeal-any-case-to-the-supreme-court-of-the-united-states.jpg" alt="Filing Notice of Appeal">
                                </a><!-- .elementskit-entry-thumb END -->
                                                                                                    <div class="elementskit-meta-lists elementskit-style-tag">
                                        <div class="elementskit-single-meta triangle_left"><span class="elementskit-meta-wraper"><strong>21</strong>May</span></div>
                                    </div>
                                                                                            
                            
</div><!-- .elementskit-entry-header END -->

<div class="elementskit-post-body ">

<div class="post-meta-list">
<span class="post-cat">
<i aria-hidden="true" class="icon icon-folder"></i>										<a href="https://securethevotemd.com/category/lawsuit-document/" rel="category tag">Lawsuit Document</a> | <a href="https://securethevotemd.com/category/uncategorized/" rel="category tag">Uncategorized</a>									</span>
</div>


<h2 class="entry-title">
<a href="https://securethevotemd.com/2024/05/21/filing-notice-of-appeal/">
Filing Notice of Appeal					</a>
</h2>
<p>From:&nbsp;MDD_CM-ECF_Filing@mdd.uscourts.gov&nbsp;&lt;MDD_CM-ECF_Filing@mdd.uscourts.gov&gt;Sent:&nbsp;Wednesday, May 15, 2024 3:09 PMTo:&nbsp;MDDdb_ECF@mdd.uscourts.govSubject:&nbsp;Activity in Case 1:24-cv-00672-SAG Maryland Election Integrity, LLC et al v. Maryland State Board of&hellip;</p>
                                                            <div class="btn-wraper">
                                                                            <a class="elementskit-btn whitespace--normal" id="" href="https://securethevotemd.com/2024/05/21/filing-notice-of-appeal/">
                                            READ MORE                                            <i aria-hidden="true" class="icon icon-arrow-right"></i>                                        </a>
                                    
                                                                    </div>
                                                    </div><!-- .elementskit-post-body END -->
                    </div>
                
            </div>
                    <div class="col-lg-4 col-md-6">

                                    <div class="elementskit-post-image-card">
                        <div class="elementskit-entry-header">
                                                            <a href="https://securethevotemd.com/2024/04/19/complaint-for-declaratory-and-injunctive-relief-2/" class="elementskit-entry-thumb">
                                    <img decoding="async" src="https://securethevotemd.com/wp-content/uploads/2024/04/political-report-1024x683.jpg" alt="COMPLAINT FOR DECLARATORY AND INJUNCTIVE RELIEF">
                                </a><!-- .elementskit-entry-thumb END -->
                                                                                                    <div class="elementskit-meta-lists elementskit-style-tag">
                                        <div class="elementskit-single-meta triangle_left"><span class="elementskit-meta-wraper"><strong>19</strong>Apr</span></div>
                                    </div>
                                                                                            
                            
</div><!-- .elementskit-entry-header END -->

<div class="elementskit-post-body ">

<div class="post-meta-list">
<span class="post-cat">
<i aria-hidden="true" class="icon icon-folder"></i>										<a href="https://securethevotemd.com/category/lawsuit-document/" rel="category tag">Lawsuit Document</a> | <a href="https://securethevotemd.com/category/uncategorized/" rel="category tag">Uncategorized</a>									</span>
</div>


<h2 class="entry-title">
<a href="https://securethevotemd.com/2024/04/19/complaint-for-declaratory-and-injunctive-relief-2/">
COMPLAINT FOR DECLARATORY AND INJUNCTIVE RELIEF					</a>
</h2>
<p></p>
                                                            <div class="btn-wraper">
                                                                            <a class="elementskit-btn whitespace--normal" id="" href="https://securethevotemd.com/2024/04/19/complaint-for-declaratory-and-injunctive-relief-2/">
                                            READ MORE                                            <i aria-hidden="true" class="icon icon-arrow-right"></i>                                        </a>
                                    
                                                                    </div>
                                                    </div><!-- .elementskit-post-body END -->
                    </div>
                
            </div>
                    <div class="col-lg-4 col-md-6">

                                    <div class="elementskit-post-image-card">
                        <div class="elementskit-entry-header">
                                                            <a href="https://securethevotemd.com/2024/04/19/amended-complaint-for-declaratory-and-injunctive-relief/" class="elementskit-entry-thumb">
                                    <img decoding="async" src="https://securethevotemd.com/wp-content/uploads/2024/04/modern-companies-encourage-cultural-diversity-in-their-human-resources-1024x683.jpg" alt="AMENDED &#8211; COMPLAINT FOR DECLARATORY AND INJUNCTIVE RELIEF">
                                </a><!-- .elementskit-entry-thumb END -->
                                                                                                    <div class="elementskit-meta-lists elementskit-style-tag">
                                        <div class="elementskit-single-meta triangle_left"><span class="elementskit-meta-wraper"><strong>19</strong>Apr</span></div>
                                    </div>
                                                                                            
                            
</div><!-- .elementskit-entry-header END -->

<div class="elementskit-post-body ">

<div class="post-meta-list">
<span class="post-cat">
<i aria-hidden="true" class="icon icon-folder"></i>										<a href="https://securethevotemd.com/category/lawsuit-document/" rel="category tag">Lawsuit Document</a> | <a href="https://securethevotemd.com/category/uncategorized/" rel="category tag">Uncategorized</a>									</span>
</div>


<h2 class="entry-title">
<a href="https://securethevotemd.com/2024/04/19/amended-complaint-for-declaratory-and-injunctive-relief/">
AMENDED &#8211; COMPLAINT FOR DECLARATORY AND INJUNCTIVE RELIEF					</a>
</h2>
<p>IN THE UNITED STATES DISTRICT COURT FOR THE DISTRICT OF MARYLAND Maryland Election Integrity LLC * 116 Defense Highway, *&hellip;</p>
                                                            <div class="btn-wraper">
                                                                            <a class="elementskit-btn whitespace--normal" id="" href="https://securethevotemd.com/2024/04/19/amended-complaint-for-declaratory-and-injunctive-relief/">
                                            READ MORE                                            <i aria-hidden="true" class="icon icon-arrow-right"></i>                                        </a>
                                    
                                                                    </div>
                                                    </div><!-- .elementskit-post-body END -->
                    </div>
                
            </div>
                    <div class="col-lg-4 col-md-6">

                                    <div class="elementskit-post-image-card">
                        <div class="elementskit-entry-header">
                                                            <a href="https://securethevotemd.com/2024/04/12/complaint-for-declaratory-and-injunctive-relief/" class="elementskit-entry-thumb">
                                    <img decoding="async" src="https://securethevotemd.com/wp-content/uploads/2024/04/political-speech-1024x683.jpg" alt="Complaint For Declaratory And Injunctive Relief">
                                </a><!-- .elementskit-entry-thumb END -->
                                                                                                    <div class="elementskit-meta-lists elementskit-style-tag">
                                        <div class="elementskit-single-meta triangle_left"><span class="elementskit-meta-wraper"><strong>12</strong>Apr</span></div>
                                    </div>
                                                                                            
                            
</div><!-- .elementskit-entry-header END -->

<div class="elementskit-post-body ">

<div class="post-meta-list">
<span class="post-cat">
<i aria-hidden="true" class="icon icon-folder"></i>										<a href="https://securethevotemd.com/category/lawsuit-document/" rel="category tag">Lawsuit Document</a> | <a href="https://securethevotemd.com/category/uncategorized/" rel="category tag">Uncategorized</a>									</span>
</div>


<h2 class="entry-title">
<a href="https://securethevotemd.com/2024/04/12/complaint-for-declaratory-and-injunctive-relief/">
Complaint For Declaratory And Injunctive Relief					</a>
</h2>
<p>Maryland Election Integrity LLC, a Maryland limited liability company, and United Sovereign Americans, Inc., a Missouri nonprofit corporation, Plaintiffs, by&hellip;</p>
                                                            <div class="btn-wraper">
                                                                            <a class="elementskit-btn whitespace--normal" id="" href="https://securethevotemd.com/2024/04/12/complaint-for-declaratory-and-injunctive-relief/">
                                            READ MORE                                            <i aria-hidden="true" class="icon icon-arrow-right"></i>                                        </a>
                                    
                                                                    </div>
                                                    </div><!-- .elementskit-post-body END -->
                    </div>
                
            </div>
                    <div class="col-lg-4 col-md-6">

                                    <div class="elementskit-post-image-card">
                        <div class="elementskit-entry-header">
                                                            <a href="https://securethevotemd.com/2024/04/08/md-election-integrity-amended-complaint/" class="elementskit-entry-thumb">
                                    <img decoding="async" src="https://securethevotemd.com/wp-content/uploads/2024/03/Center_for_Election_Integrity_CAT_2-1024x576.jpg" alt="MD Election Integrity Amended Complaint">
                                </a><!-- .elementskit-entry-thumb END -->
                                                                                                    <div class="elementskit-meta-lists elementskit-style-tag">
                                        <div class="elementskit-single-meta triangle_left"><span class="elementskit-meta-wraper"><strong>08</strong>Apr</span></div>
                                    </div>
                                                                                            
                            
</div><!-- .elementskit-entry-header END -->

<div class="elementskit-post-body ">

<div class="post-meta-list">
<span class="post-cat">
<i aria-hidden="true" class="icon icon-folder"></i>										<a href="https://securethevotemd.com/category/lawsuit-document/" rel="category tag">Lawsuit Document</a> | <a href="https://securethevotemd.com/category/uncategorized/" rel="category tag">Uncategorized</a>									</span>
</div>


<h2 class="entry-title">
<a href="https://securethevotemd.com/2024/04/08/md-election-integrity-amended-complaint/">
MD Election Integrity Amended Complaint					</a>
</h2>
<p></p>
                                                            <div class="btn-wraper">
                                                                            <a class="elementskit-btn whitespace--normal" id="" href="https://securethevotemd.com/2024/04/08/md-election-integrity-amended-complaint/">
                                            READ MORE                                            <i aria-hidden="true" class="icon icon-arrow-right"></i>                                        </a>
                                    
                                                                    </div>
                                                    </div><!-- .elementskit-post-body END -->
                    </div>
                
            </div>
                    <div class="col-lg-4 col-md-6">

                                    <div class="elementskit-post-image-card">
                        <div class="elementskit-entry-header">
                                                            <a href="https://securethevotemd.com/2024/03/05/md-election-integrity-complaint/" class="elementskit-entry-thumb">
                                    <img decoding="async" src="https://securethevotemd.com/wp-content/uploads/2024/04/political-report-1024x683.jpg" alt="MD Election Integrity Complaint">
                                </a><!-- .elementskit-entry-thumb END -->
                                                                                                    <div class="elementskit-meta-lists elementskit-style-tag">
                                        <div class="elementskit-single-meta triangle_left"><span class="elementskit-meta-wraper"><strong>05</strong>Mar</span></div>
                                    </div>
                                                                                            
                            
</div><!-- .elementskit-entry-header END -->

<div class="elementskit-post-body ">

<div class="post-meta-list">
<span class="post-cat">
<i aria-hidden="true" class="icon icon-folder"></i>										<a href="https://securethevotemd.com/category/lawsuit-document/" rel="category tag">Lawsuit Document</a> | <a href="https://securethevotemd.com/category/uncategorized/" rel="category tag">Uncategorized</a>									</span>
</div>


<h2 class="entry-title">
<a href="https://securethevotemd.com/2024/03/05/md-election-integrity-complaint/">
MD Election Integrity Complaint					</a>
</h2>
<p></p>
                                                            <div class="btn-wraper">
                                                                            <a class="elementskit-btn whitespace--normal" id="" href="https://securethevotemd.com/2024/03/05/md-election-integrity-complaint/">
                                            READ MORE                                            <i aria-hidden="true" class="icon icon-arrow-right"></i>                                        </a>
                                    
                                                                    </div>
                                                    </div><!-- .elementskit-post-body END -->
                    </div>
                
            </div>
                    <div class="col-lg-4 col-md-6">

                                    <div class="elementskit-post-image-card">
                        <div class="elementskit-entry-header">
                                                            <a href="https://securethevotemd.com/2024/02/27/election-accuracy-report/" class="elementskit-entry-thumb">
                                    <img decoding="async" src="https://securethevotemd.com/wp-content/uploads/2024/10/Raffensperger_resized_bea22fb373cfcef61696516a95194b58bbfb2bad-1024x683.jpg" alt="Election Accuracy Report">
                                </a><!-- .elementskit-entry-thumb END -->
                                                                                                    <div class="elementskit-meta-lists elementskit-style-tag">
                                        <div class="elementskit-single-meta triangle_left"><span class="elementskit-meta-wraper"><strong>27</strong>Feb</span></div>
                                    </div>
                                                                                            
                            
</div><!-- .elementskit-entry-header END -->

<div class="elementskit-post-body ">

<div class="post-meta-list">
<span class="post-cat">
<i aria-hidden="true" class="icon icon-folder"></i>										<a href="https://securethevotemd.com/category/lawsuit-document/" rel="category tag">Lawsuit Document</a> | <a href="https://securethevotemd.com/category/uncategorized/" rel="category tag">Uncategorized</a>									</span>
</div>


<h2 class="entry-title">
<a href="https://securethevotemd.com/2024/02/27/election-accuracy-report/">
Election Accuracy Report					</a>
</h2>
<p></p>
                                                            <div class="btn-wraper">
                                                                            <a class="elementskit-btn whitespace--normal" id="" href="https://securethevotemd.com/2024/02/27/election-accuracy-report/">
                                            READ MORE                                            <i aria-hidden="true" class="icon icon-arrow-right"></i>                                        </a>
                                    
                                                                    </div>
                                                    </div><!-- .elementskit-post-body END -->
                    </div>
                
            </div>
                </div>
       </div>				</div>
</div>
</div>
</div>
</div>

