---
layout: base.njk
title: "What’s Happening?"
description: "What’s Happening? Lorem ipsum dolor sit amet Press Releases 19Apr Press Release RITE Puts Maryland On Alert For Voter Registration&hellip; WASHINGTON, DC – October XX, 2023 – On behalf of two Maryland residents, Restoring Integrity and Trust in Elections (RITE)&hellip; READ MORE 19Apr Press Release Maryland Election Integrity LLC and United Sovereign Americans&hellip; ANNAPOLIS, MD [&hellip;]"
slug: "whats-happening"
order: 999
date: 2024-04-10T10:31:23



---

<div data-elementor-type="wp-page" data-elementor-id="728" class="elementor elementor-728" data-elementor-post-type="page">
<section class="section element elementor-element-b51b9e7 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="b51b9e7" data-element_type="section" data-e-type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
<div class="background-overlay"></div>
<div class="container column-gap-default">
<div class="column elementor-top-column element elementor-element-2defc07" data-id="2defc07" data-element_type="column" data-e-type="column">
<div class="widget-wrap">
</div>
</div>
<div class="column elementor-top-column element elementor-element-9be36bc" data-id="9be36bc" data-element_type="column" data-e-type="column">
<div class="widget-wrap element-populated">
<div class="element elementor-element-3660e10 fade-in widget widget-heading" data-id="3660e10" data-element_type="widget" data-e-type="widget" data-settings="{&quot;_animation&quot;:&quot;fadeIn&quot;}" data-widget_type="heading.default">
<div class="elementor-widget-container">
<h1 class="heading-title size-default">What’s Happening?</h1>				</div>
</div>
<div class="element elementor-element-d8d3bae elementor-widget-divider--view-line widget widget-divider" data-id="d8d3bae" data-element_type="widget" data-e-type="widget" data-widget_type="divider.default">
<div class="elementor-widget-container">
<div class="divider">
<span class="divider-separator">
</span>
</div>
</div>
</div>
<div class="element elementor-element-010ecdd elementor-widget__width-initial elementor-widget-mobile__width-inherit fade-in widget widget-heading" data-id="010ecdd" data-element_type="widget" data-e-type="widget" data-settings="{&quot;_animation&quot;:&quot;fadeIn&quot;}" data-widget_type="heading.default">
<div class="elementor-widget-container">
<h4 class="heading-title size-default">Lorem ipsum dolor sit amet</h4>				</div>
</div>
</div>
</div>
<div class="column elementor-top-column element elementor-element-3c9bfad" data-id="3c9bfad" data-element_type="column" data-e-type="column">
<div class="widget-wrap">
</div>
</div>
</div>
</section>
<section class="section element elementor-element-092bb10 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="092bb10" data-element_type="section" data-e-type="section">
<div class="container column-gap-default">
<div class="column elementor-top-column element elementor-element-e1e6cf9" data-id="e1e6cf9" data-element_type="column" data-e-type="column">
<div class="widget-wrap element-populated">
<section class="section elementor-inner-section element elementor-element-cf1dfb7 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="cf1dfb7" data-element_type="section" data-e-type="section">
<div class="container column-gap-default">
<div class="column elementor-inner-column element elementor-element-ff4ee5b" data-id="ff4ee5b" data-element_type="column" data-e-type="column">
<div class="widget-wrap element-populated">
<div class="element elementor-element-b27c50b elementor-view-stacked elementor-shape-square fade-in widget widget-icon" data-id="b27c50b" data-element_type="widget" data-e-type="widget" data-settings="{&quot;_animation&quot;:&quot;fadeIn&quot;}" data-widget_type="icon.default">
<div class="elementor-widget-container">
<div class="elementor-icon-wrapper">
<div class="elementor-icon">
<i aria-hidden="true" class="icon icon-news-ticker"></i>			</div>
</div>
</div>
</div>
</div>
</div>
<div class="column elementor-inner-column element elementor-element-3c0ee76" data-id="3c0ee76" data-element_type="column" data-e-type="column">
<div class="widget-wrap element-populated">
<div class="element elementor-element-c682147 fade-in widget widget-heading" data-id="c682147" data-element_type="widget" data-e-type="widget" data-settings="{&quot;_animation&quot;:&quot;fadeInRight&quot;,&quot;_animation_mobile&quot;:&quot;fadeInLeft&quot;}" data-widget_type="heading.default">
<div class="elementor-widget-container">
<h2 class="heading-title size-default">Press <span style="color:black">Releases</span>
</h2>				</div>
</div>
</div>
</div>
</div>
</section>
<div class="element elementor-element-40ef910 fade-in widget widget-elementskit-blog-posts" data-id="40ef910" data-element_type="widget" data-e-type="widget" data-settings="{&quot;_animation&quot;:&quot;fadeInUp&quot;}" data-widget_type="elementskit-blog-posts.default">
<div class="elementor-widget-container">
<div class="ekit-wid-con" >        <div id="post-items--40ef910" class="row post-items">
                    <div class="col-lg-4 col-md-6">

                                    <div class="elementskit-post-image-card">
                        <div class="elementskit-entry-header">
                                                            <a href="https://securethevotemd.com/2026/02/09/big-win-for-maryland-election-integrity-secure-the-vote-act-of-2026-house-bill-964-filed/" class="elementskit-entry-thumb">
                                    <img decoding="async" src="https://securethevotemd.com/wp-content/uploads/2026/02/White-and-Brown-Minimal-Reflection-Quote-Facebook-Post1.png" alt="Big Win for Maryland Election Integrity — Secure the Vote Act of 2026 (House Bill 964) Filed!">
                                </a><!-- .elementskit-entry-thumb END -->
                                                                                                    <div class="elementskit-meta-lists elementskit-style-tag">
                                        <div class="elementskit-single-meta triangle_left"><span class="elementskit-meta-wraper"><strong>09</strong>Feb</span></div>
                                    </div>
                                                                                            
                            
</div><!-- .elementskit-entry-header END -->

<div class="elementskit-post-body ">

<div class="post-meta-list">
<span class="post-cat">
<i aria-hidden="true" class="icon icon-folder"></i>										<a href="https://securethevotemd.com/category/press-release-news/" rel="category tag">Press Release/News</a>									</span>
</div>


<h2 class="entry-title">
<a href="https://securethevotemd.com/2026/02/09/big-win-for-maryland-election-integrity-secure-the-vote-act-of-2026-house-bill-964-filed/">
Big Win for Maryland Election Integrity — Secure&hellip;					</a>
</h2>
<p>We are thrilled to share some huge news out of Annapolis! On Wednesday, February 4, 2026, the hard work of&hellip;</p>
                                                            <div class="btn-wraper">
                                                                            <a class="elementskit-btn whitespace--normal" id="" href="https://securethevotemd.com/2026/02/09/big-win-for-maryland-election-integrity-secure-the-vote-act-of-2026-house-bill-964-filed/">
                                            READ MORE                                            <i aria-hidden="true" class="icon icon-arrow-right"></i>                                        </a>
                                    
                                                                    </div>
                                                    </div><!-- .elementskit-post-body END -->
                    </div>
                
            </div>
                    <div class="col-lg-4 col-md-6">

                                    <div class="elementskit-post-image-card">
                        <div class="elementskit-entry-header">
                                                            <a href="https://securethevotemd.com/2026/02/07/secure-the-vote-maryland-hosts-successful-lobby-day-filing-of-the-secure-the-vote-act-of-2026/" class="elementskit-entry-thumb">
                                    <img decoding="async" src="https://securethevotemd.com/wp-content/uploads/2026/02/Democracy-30.png" alt="Secure the Vote Maryland Hosts Successful Lobby Day &#8211; Filing of the Secure the Vote Act of 2026">
                                </a><!-- .elementskit-entry-thumb END -->
                                                                                                    <div class="elementskit-meta-lists elementskit-style-tag">
                                        <div class="elementskit-single-meta triangle_left"><span class="elementskit-meta-wraper"><strong>07</strong>Feb</span></div>
                                    </div>
                                                                                            
                            
</div><!-- .elementskit-entry-header END -->

<div class="elementskit-post-body ">

<div class="post-meta-list">
<span class="post-cat">
<i aria-hidden="true" class="icon icon-folder"></i>										<a href="https://securethevotemd.com/category/press-release-news/" rel="category tag">Press Release/News</a>									</span>
</div>


<h2 class="entry-title">
<a href="https://securethevotemd.com/2026/02/07/secure-the-vote-maryland-hosts-successful-lobby-day-filing-of-the-secure-the-vote-act-of-2026/">
Secure the Vote Maryland Hosts Successful Lobby Day&hellip;					</a>
</h2>
<p>Annapolis, Maryland &#8211; February 6, 2026   On Wednesday, February 4, concerned citizens from across Maryland volunteered their time in&hellip;</p>
                                                            <div class="btn-wraper">
                                                                            <a class="elementskit-btn whitespace--normal" id="" href="https://securethevotemd.com/2026/02/07/secure-the-vote-maryland-hosts-successful-lobby-day-filing-of-the-secure-the-vote-act-of-2026/">
                                            READ MORE                                            <i aria-hidden="true" class="icon icon-arrow-right"></i>                                        </a>
                                    
                                                                    </div>
                                                    </div><!-- .elementskit-post-body END -->
                    </div>
                
            </div>
                    <div class="col-lg-4 col-md-6">

                                    <div class="elementskit-post-image-card">
                        <div class="elementskit-entry-header">
                                                            <a href="https://securethevotemd.com/2026/02/03/secure-the-vote-maryland-testifies-against-redistricting-bill-hb488/" class="elementskit-entry-thumb">
                                    <img decoding="async" src="https://securethevotemd.com/wp-content/uploads/2026/02/Democracy-29.png" alt="Secure the Vote Maryland Testifies Against Redistricting Bill HB488">
                                </a><!-- .elementskit-entry-thumb END -->
                                                                                                    <div class="elementskit-meta-lists elementskit-style-tag">
                                        <div class="elementskit-single-meta triangle_left"><span class="elementskit-meta-wraper"><strong>03</strong>Feb</span></div>
                                    </div>
                                                                                            
                            
</div><!-- .elementskit-entry-header END -->

<div class="elementskit-post-body ">

<div class="post-meta-list">
<span class="post-cat">
<i aria-hidden="true" class="icon icon-folder"></i>										<a href="https://securethevotemd.com/category/press-release-news/" rel="category tag">Press Release/News</a>									</span>
</div>


<h2 class="entry-title">
<a href="https://securethevotemd.com/2026/02/03/secure-the-vote-maryland-testifies-against-redistricting-bill-hb488/">
Secure the Vote Maryland Testifies Against Redistricting Bill&hellip;					</a>
</h2>
<p>Witness: Katherine Strauch Sullivan   Jurisdiction: Baltimore County   Bill: HB488 Election Districts &#8211; General Assembly and Representatives in Congress&hellip;</p>
                                                            <div class="btn-wraper">
                                                                            <a class="elementskit-btn whitespace--normal" id="" href="https://securethevotemd.com/2026/02/03/secure-the-vote-maryland-testifies-against-redistricting-bill-hb488/">
                                            READ MORE                                            <i aria-hidden="true" class="icon icon-arrow-right"></i>                                        </a>
                                    
                                                                    </div>
                                                    </div><!-- .elementskit-post-body END -->
                    </div>
                
            </div>
                </div>
       </div>				</div>
</div>
</div>
</div>
</div>
</section>
<section class="section element elementor-element-e98b47d elementor-section-boxed elementor-section-height-default elementor-section-height-default fade-in" data-id="e98b47d" data-element_type="section" data-e-type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;,&quot;animation&quot;:&quot;fadeIn&quot;}">
<div class="background-overlay"></div>
<div class="container column-gap-default">
<div class="column elementor-top-column element elementor-element-b54e23f" data-id="b54e23f" data-element_type="column" data-e-type="column">
<div class="widget-wrap element-populated">
<section class="section elementor-inner-section element elementor-element-40510d8 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="40510d8" data-element_type="section" data-e-type="section">
<div class="container column-gap-default">
<div class="column elementor-inner-column element elementor-element-8fe6dfb" data-id="8fe6dfb" data-element_type="column" data-e-type="column">
<div class="widget-wrap element-populated">
<div class="element elementor-element-397a89e elementor-view-stacked elementor-shape-square fade-in widget widget-icon" data-id="397a89e" data-element_type="widget" data-e-type="widget" data-settings="{&quot;_animation&quot;:&quot;fadeIn&quot;}" data-widget_type="icon.default">
<div class="elementor-widget-container">
<div class="elementor-icon-wrapper">
<div class="elementor-icon">
<i aria-hidden="true" class="icon icon-Document-Search"></i>			</div>
</div>
</div>
</div>
</div>
</div>
<div class="column elementor-inner-column element elementor-element-cf9b28f" data-id="cf9b28f" data-element_type="column" data-e-type="column">
<div class="widget-wrap element-populated">
<div class="element elementor-element-203bf1a fade-in widget widget-heading" data-id="203bf1a" data-element_type="widget" data-e-type="widget" data-settings="{&quot;_animation&quot;:&quot;fadeInRight&quot;,&quot;_animation_mobile&quot;:&quot;fadeInLeft&quot;}" data-widget_type="heading.default">
<div class="elementor-widget-container">
<h2 class="heading-title size-default">Lawsuit <span style="color:white">Document</span>
</h2>				</div>
</div>
</div>
</div>
</div>
</section>
</div>
</div>
</div>
</section>
<section class="section element elementor-element-737cc87 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="737cc87" data-element_type="section" data-e-type="section">
<div class="container column-gap-default">
<div class="column elementor-top-column element elementor-element-353509f" data-id="353509f" data-element_type="column" data-e-type="column">
<div class="widget-wrap element-populated">
<section class="section elementor-inner-section element elementor-element-9cadc9b elementor-section-boxed elementor-section-height-default elementor-section-height-default fade-in" data-id="9cadc9b" data-element_type="section" data-e-type="section" data-settings="{&quot;animation&quot;:&quot;fadeInUp&quot;}">
<div class="container column-gap-default">
<div class="column elementor-inner-column element elementor-element-54601df" data-id="54601df" data-element_type="column" data-e-type="column">
<div class="widget-wrap element-populated">
<div class="element elementor-element-c345366 lawsuit widget widget-elementskit-blog-posts" data-id="c345366" data-element_type="widget" data-e-type="widget" data-widget_type="elementskit-blog-posts.default">
<div class="elementor-widget-container">
<div class="ekit-wid-con" >        <div id="post-items--c345366" class="row post-items">
                    <div class="col-lg-12 col-md-12">

                                    <div class="elementskit-post-image-card">
                        <div class="elementskit-entry-header">
                                                            <a href="https://securethevotemd.com/2024/08/29/reply-brief-of-appellants/" class="elementskit-entry-thumb">
                                    <img decoding="async" src="https://securethevotemd.com/wp-content/uploads/2024/04/political-leaders-at-conference-1024x683.jpg" alt="REPLY BRIEF OF APPELLANTS">
                                </a><!-- .elementskit-entry-thumb END -->
                                                                                                    <div class="elementskit-meta-lists elementskit-style-tag">
                                        <div class="elementskit-single-meta triangle_left"><span class="elementskit-meta-wraper"><strong>29</strong>Aug</span></div>
                                    </div>
                                                                                            
                            
</div><!-- .elementskit-entry-header END -->

<div class="elementskit-post-body ">

<div class="post-meta-list">
<span class="post-cat">
<i aria-hidden="true" class="icon icon-folder"></i>										<a href="https://securethevotemd.com/category/lawsuit-document/" rel="category tag">Lawsuit Document</a> | <a href="https://securethevotemd.com/category/uncategorized/" rel="category tag">Uncategorized</a>									</span>
</div>


<h2 class="entry-title">
<a href="https://securethevotemd.com/2024/08/29/reply-brief-of-appellants/">
REPLY BRIEF OF APPELLANTS					</a>
</h2>
<p></p>
                                                            <div class="btn-wraper">
                                                                            <a class="elementskit-btn whitespace--normal" id="" href="https://securethevotemd.com/2024/08/29/reply-brief-of-appellants/">
                                            READ MORE                                            <i aria-hidden="true" class="icon icon-arrow-right"></i>                                        </a>
                                    
                                                                    </div>
                                                    </div><!-- .elementskit-post-body END -->
                    </div>
                
            </div>
                    <div class="col-lg-12 col-md-12">

                                    <div class="elementskit-post-image-card">
                        <div class="elementskit-entry-header">
                                                            <a href="https://securethevotemd.com/2024/07/09/united-states-court-of-appeals/" class="elementskit-entry-thumb">
                                    <img decoding="async" src="https://securethevotemd.com/wp-content/uploads/2024/08/cropped-cropped-495daisFromBack-scaled-1-e1623945300557-1024x494.jpg" alt="UNITED STATES COURT OF APPEALS">
                                </a><!-- .elementskit-entry-thumb END -->
                                                                                                    <div class="elementskit-meta-lists elementskit-style-tag">
                                        <div class="elementskit-single-meta triangle_left"><span class="elementskit-meta-wraper"><strong>09</strong>Jul</span></div>
                                    </div>
                                                                                            
                            
</div><!-- .elementskit-entry-header END -->

<div class="elementskit-post-body ">

<div class="post-meta-list">
<span class="post-cat">
<i aria-hidden="true" class="icon icon-folder"></i>										<a href="https://securethevotemd.com/category/lawsuit-document/" rel="category tag">Lawsuit Document</a> | <a href="https://securethevotemd.com/category/uncategorized/" rel="category tag">Uncategorized</a>									</span>
</div>


<h2 class="entry-title">
<a href="https://securethevotemd.com/2024/07/09/united-states-court-of-appeals/">
UNITED STATES COURT OF APPEALS					</a>
</h2>
<p></p>
                                                            <div class="btn-wraper">
                                                                            <a class="elementskit-btn whitespace--normal" id="" href="https://securethevotemd.com/2024/07/09/united-states-court-of-appeals/">
                                            READ MORE                                            <i aria-hidden="true" class="icon icon-arrow-right"></i>                                        </a>
                                    
                                                                    </div>
                                                    </div><!-- .elementskit-post-body END -->
                    </div>
                
            </div>
                    <div class="col-lg-12 col-md-12">

                                    <div class="elementskit-post-image-card">
                        <div class="elementskit-entry-header">
                                                            <a href="https://securethevotemd.com/2024/05/21/filing-notice-of-appeal/" class="elementskit-entry-thumb">
                                    <img decoding="async" src="https://securethevotemd.com/wp-content/uploads/2024/05/can-i-appeal-any-case-to-the-supreme-court-of-the-united-states.jpg" alt="Filing Notice of Appeal">
                                </a><!-- .elementskit-entry-thumb END -->
                                                                                                    <div class="elementskit-meta-lists elementskit-style-tag">
                                        <div class="elementskit-single-meta triangle_left"><span class="elementskit-meta-wraper"><strong>21</strong>May</span></div>
                                    </div>
                                                                                            
                            
</div><!-- .elementskit-entry-header END -->

<div class="elementskit-post-body ">

<div class="post-meta-list">
<span class="post-cat">
<i aria-hidden="true" class="icon icon-folder"></i>										<a href="https://securethevotemd.com/category/lawsuit-document/" rel="category tag">Lawsuit Document</a> | <a href="https://securethevotemd.com/category/uncategorized/" rel="category tag">Uncategorized</a>									</span>
</div>


<h2 class="entry-title">
<a href="https://securethevotemd.com/2024/05/21/filing-notice-of-appeal/">
Filing Notice of Appeal					</a>
</h2>
<p>From:&nbsp;MDD_CM-ECF_Filing@mdd.uscourts.gov&nbsp;&lt;MDD_CM-ECF_Filing@mdd.uscourts.gov&gt;Sent:&nbsp;Wednesday, May 15, 2024 3:09 PMTo:&nbsp;MDDdb_ECF@mdd.uscourts.govSubject:&nbsp;Activity in Case 1:24-cv-00672-SAG Maryland Election Integrity, LLC et al v. Maryland State Board of&hellip;</p>
                                                            <div class="btn-wraper">
                                                                            <a class="elementskit-btn whitespace--normal" id="" href="https://securethevotemd.com/2024/05/21/filing-notice-of-appeal/">
                                            READ MORE                                            <i aria-hidden="true" class="icon icon-arrow-right"></i>                                        </a>
                                    
                                                                    </div>
                                                    </div><!-- .elementskit-post-body END -->
                    </div>
                
            </div>
                </div>
       </div>				</div>
</div>
</div>
</div>
</div>
</section>
</div>
</div>
</div>
</section>
<section class="section element elementor-element-6d1a8ee elementor-reverse-mobile elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="6d1a8ee" data-element_type="section" data-e-type="section">
<div class="container column-gap-default">
<div class="column elementor-top-column element elementor-element-3c4b926 fade-in" data-id="3c4b926" data-element_type="column" data-e-type="column" data-settings="{&quot;animation&quot;:&quot;fadeInLeft&quot;}">
<div class="widget-wrap element-populated">
<div class="element elementor-element-3b73f0d widget widget-heading" data-id="3b73f0d" data-element_type="widget" data-e-type="widget" data-widget_type="heading.default">
<div class="elementor-widget-container">
<h6 class="heading-title size-default">SCORE CARD</h6>				</div>
</div>
<div class="element elementor-element-d23169a widget widget-elementskit-blog-posts" data-id="d23169a" data-element_type="widget" data-e-type="widget" data-widget_type="elementskit-blog-posts.default">
<div class="elementor-widget-container">
<div class="ekit-wid-con" >        <div id="post-items--d23169a" class="row post-items">
                </div>
       </div>				</div>
</div>
</div>
</div>
<div class="column elementor-top-column element elementor-element-cade764" data-id="cade764" data-element_type="column" data-e-type="column">
<div class="widget-wrap element-populated">
<div class="element elementor-element-3f48644 widget widget-image" data-id="3f48644" data-element_type="widget" data-e-type="widget" data-widget_type="image.default">
<div class="elementor-widget-container">
<img loading="lazy" decoding="async" width="800" height="534" src="https://securethevotemd.com/wp-content/uploads/2024/04/group-of-delegates-applauding-1-1024x683.jpg" class="attachment-large size-large wp-image-578" alt="" srcset="https://securethevotemd.com/wp-content/uploads/2024/04/group-of-delegates-applauding-1-1024x683.jpg 1024w, https://securethevotemd.com/wp-content/uploads/2024/04/group-of-delegates-applauding-1-300x200.jpg 300w, https://securethevotemd.com/wp-content/uploads/2024/04/group-of-delegates-applauding-1-768x512.jpg 768w, https://securethevotemd.com/wp-content/uploads/2024/04/group-of-delegates-applauding-1.jpg 1080w" sizes="(max-width: 800px) 100vw, 800px" />															</div>
</div>
</div>
</div>
</div>
</section>
<section class="section element elementor-element-d4b770e elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="d4b770e" data-element_type="section" data-e-type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
<div class="container column-gap-default">
<div class="column elementor-top-column element elementor-element-a3b3269" data-id="a3b3269" data-element_type="column" data-e-type="column">
<div class="widget-wrap element-populated">
<section class="section elementor-inner-section element elementor-element-b79fe52 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="b79fe52" data-element_type="section" data-e-type="section">
<div class="container column-gap-default">
<div class="column elementor-inner-column element elementor-element-c7e733a fade-in" data-id="c7e733a" data-element_type="column" data-e-type="column" data-settings="{&quot;animation&quot;:&quot;fadeIn&quot;}">
<div class="widget-wrap element-populated">
<div class="element elementor-element-6dd6583 widget widget-heading" data-id="6dd6583" data-element_type="widget" data-e-type="widget" data-widget_type="heading.default">
<div class="elementor-widget-container">
<h6 class="heading-title size-default">Resources</h6>				</div>
</div>
<div class="element elementor-element-cb435ec widget widget-heading" data-id="cb435ec" data-element_type="widget" data-e-type="widget" data-widget_type="heading.default">
<div class="elementor-widget-container">
<h2 class="heading-title size-default">Lorem ipsum dolor sit amet consectetur</h2>				</div>
</div>
<div class="element elementor-element-c62d88c elementor-widget-divider--view-line widget widget-divider" data-id="c62d88c" data-element_type="widget" data-e-type="widget" data-widget_type="divider.default">
<div class="elementor-widget-container">
<div class="divider">
<span class="divider-separator">
</span>
</div>
</div>
</div>
</div>
</div>
<div class="column elementor-inner-column element elementor-element-e3b2fdd fade-in" data-id="e3b2fdd" data-element_type="column" data-e-type="column" data-settings="{&quot;animation&quot;:&quot;fadeInRight&quot;,&quot;animation_mobile&quot;:&quot;fadeInLeft&quot;}">
<div class="widget-wrap element-populated">
<div class="element elementor-element-7364f2a widget widget-text-editor" data-id="7364f2a" data-element_type="widget" data-e-type="widget" data-widget_type="text-editor.default">
<div class="elementor-widget-container">
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>								</div>
</div>
</div>
</div>
</div>
</section>
<section class="section elementor-inner-section element elementor-element-105a614 elementor-section-boxed elementor-section-height-default elementor-section-height-default fade-in" data-id="105a614" data-element_type="section" data-e-type="section" data-settings="{&quot;animation&quot;:&quot;fadeInUp&quot;}">
<div class="container column-gap-default">
<div class="column elementor-inner-column element elementor-element-92045c8" data-id="92045c8" data-element_type="column" data-e-type="column">
<div class="widget-wrap element-populated">
<div class="element elementor-element-c058da8 widget widget-elementskit-blog-posts" data-id="c058da8" data-element_type="widget" data-e-type="widget" data-widget_type="elementskit-blog-posts.default">
<div class="elementor-widget-container">
<div class="ekit-wid-con" >        <div id="post-items--c058da8" class="row post-items">
                    <div class="col-lg-4 col-md-6">

                                    <div class="elementskit-post-image-card">
                        <div class="elementskit-entry-header">
                                                            <a href="https://securethevotemd.com/2025/03/18/victory-for-election-integrity-maryland-court-rules-against-state-overreach-in-landmark-voter-rights-case/" class="elementskit-entry-thumb">
                                    <img decoding="async" src="https://securethevotemd.com/wp-content/uploads/2025/03/voter-roll-vote-1024x538.jpg" alt="Victory for Election Integrity: Maryland Court Rules Against State Overreach in Landmark Voter Rights Case">
                                </a><!-- .elementskit-entry-thumb END -->
                                                                                                    <div class="elementskit-meta-lists elementskit-style-tag">
                                        <div class="elementskit-single-meta triangle_left"><span class="elementskit-meta-wraper"><strong>18</strong>Mar</span></div>
                                    </div>
                                                                                            
                            
</div><!-- .elementskit-entry-header END -->

<div class="elementskit-post-body ">

<div class="post-meta-list">
<span class="post-cat">
<i aria-hidden="true" class="icon icon-folder"></i>										<a href="https://securethevotemd.com/category/uncategorized/" rel="category tag">Uncategorized</a>									</span>
</div>


<h2 class="entry-title">
<a href="https://securethevotemd.com/2025/03/18/victory-for-election-integrity-maryland-court-rules-against-state-overreach-in-landmark-voter-rights-case/">
Victory for Election Integrity: Maryland Court Rules Against&hellip;					</a>
</h2>
<p>The United States District Court for the District of Maryland struck a blow for election integrity by siding with plaintiffs&hellip;</p>
                                                            <div class="btn-wraper">
                                                                            <a class="elementskit-btn whitespace--normal" id="" href="https://securethevotemd.com/2025/03/18/victory-for-election-integrity-maryland-court-rules-against-state-overreach-in-landmark-voter-rights-case/">
                                            READ MORE                                            <i aria-hidden="true" class="icon icon-arrow-right"></i>                                        </a>
                                    
                                                                    </div>
                                                    </div><!-- .elementskit-post-body END -->
                    </div>
                
            </div>
                    <div class="col-lg-4 col-md-6">

                                    <div class="elementskit-post-image-card">
                        <div class="elementskit-entry-header">
                                                            <a href="https://securethevotemd.com/2024/10/23/where-have-all-the-robby-robinsons-gone/" class="elementskit-entry-thumb">
                                    <img decoding="async" src="https://securethevotemd.com/wp-content/uploads/2024/10/Election-Accuracy-Report.png" alt="Where Have All the Robby Robinsons Gone?">
                                </a><!-- .elementskit-entry-thumb END -->
                                                                                                    <div class="elementskit-meta-lists elementskit-style-tag">
                                        <div class="elementskit-single-meta triangle_left"><span class="elementskit-meta-wraper"><strong>23</strong>Oct</span></div>
                                    </div>
                                                                                            
                            
</div><!-- .elementskit-entry-header END -->

<div class="elementskit-post-body ">

<div class="post-meta-list">
<span class="post-cat">
<i aria-hidden="true" class="icon icon-folder"></i>										<a href="https://securethevotemd.com/category/press-release-news/" rel="category tag">Press Release/News</a> | <a href="https://securethevotemd.com/category/uncategorized/" rel="category tag">Uncategorized</a>									</span>
</div>


<h2 class="entry-title">
<a href="https://securethevotemd.com/2024/10/23/where-have-all-the-robby-robinsons-gone/">
Where Have All the Robby Robinsons Gone?					</a>
</h2>
<p>In 2001, when Walter “Robby” Robinson and The Boston Globe’s Spotlight team exposed the massive sexual abuse scandal within the&hellip;</p>
                                                            <div class="btn-wraper">
                                                                            <a class="elementskit-btn whitespace--normal" id="" href="https://securethevotemd.com/2024/10/23/where-have-all-the-robby-robinsons-gone/">
                                            READ MORE                                            <i aria-hidden="true" class="icon icon-arrow-right"></i>                                        </a>
                                    
                                                                    </div>
                                                    </div><!-- .elementskit-post-body END -->
                    </div>
                
            </div>
                    <div class="col-lg-4 col-md-6">

                                    <div class="elementskit-post-image-card">
                        <div class="elementskit-entry-header">
                                                            <a href="https://securethevotemd.com/2024/10/21/poll-workers-are-in-high-demand-especially-maryland-republicans/" class="elementskit-entry-thumb">
                                    <img decoding="async" src="https://securethevotemd.com/wp-content/uploads/2024/10/Gartner_Silver_Spring_Voting_Center_inside-scaled-1-1024x768.jpg" alt="Poll workers are in high demand – especially Maryland Republicans">
                                </a><!-- .elementskit-entry-thumb END -->
                                                                                                    <div class="elementskit-meta-lists elementskit-style-tag">
                                        <div class="elementskit-single-meta triangle_left"><span class="elementskit-meta-wraper"><strong>21</strong>Oct</span></div>
                                    </div>
                                                                                            
                            
</div><!-- .elementskit-entry-header END -->

<div class="elementskit-post-body ">

<div class="post-meta-list">
<span class="post-cat">
<i aria-hidden="true" class="icon icon-folder"></i>										<a href="https://securethevotemd.com/category/press-release-news/" rel="category tag">Press Release/News</a> | <a href="https://securethevotemd.com/category/uncategorized/" rel="category tag">Uncategorized</a>									</span>
</div>


<h2 class="entry-title">
<a href="https://securethevotemd.com/2024/10/21/poll-workers-are-in-high-demand-especially-maryland-republicans/">
Poll workers are in high demand – especially&hellip;					</a>
</h2>
<p>ANNAPOLIS – As local election boards work around the clock to recruit and train workers before early voting starts next&hellip;</p>
                                                            <div class="btn-wraper">
                                                                            <a class="elementskit-btn whitespace--normal" id="" href="https://securethevotemd.com/2024/10/21/poll-workers-are-in-high-demand-especially-maryland-republicans/">
                                            READ MORE                                            <i aria-hidden="true" class="icon icon-arrow-right"></i>                                        </a>
                                    
                                                                    </div>
                                                    </div><!-- .elementskit-post-body END -->
                    </div>
                
            </div>
                </div>
       </div>				</div>
</div>
</div>
</div>
</div>
</section>
</div>
</div>
</div>
</section>
<section class="section element elementor-element-ef089d1 elementor-hidden-desktop elementor-hidden-tablet elementor-hidden-mobile elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="ef089d1" data-element_type="section" data-e-type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
<div class="background-overlay"></div>
<div class="container column-gap-default">
<div class="column elementor-top-column element elementor-element-4516cd9" data-id="4516cd9" data-element_type="column" data-e-type="column">
<div class="widget-wrap">
</div>
</div>
<div class="column elementor-top-column element elementor-element-465f87d fade-in" data-id="465f87d" data-element_type="column" data-e-type="column" data-settings="{&quot;animation&quot;:&quot;fadeInLeft&quot;}">
<div class="widget-wrap element-populated">
<div class="element elementor-element-5a1e4eb widget widget-heading" data-id="5a1e4eb" data-element_type="widget" data-e-type="widget" data-widget_type="heading.default">
<div class="elementor-widget-container">
<h6 class="heading-title size-default">Weekly Action</h6>				</div>
</div>
<div class="element elementor-element-52ed1e9 widget widget-elementskit-blog-posts" data-id="52ed1e9" data-element_type="widget" data-e-type="widget" data-widget_type="elementskit-blog-posts.default">
<div class="elementor-widget-container">
<div class="ekit-wid-con" >        <div id="post-items--52ed1e9" class="row post-items">
                </div>
       </div>				</div>
</div>
</div>
</div>
</div>
</section>
</div>

