---
layout: base.njk
title: "Citizen Action"
description: "Citizen Action REGISTER FOR LOBBY DAY – FEBRUARY 4 Secure the Vote Act 2026 Lobby Day • House of Delegates 6 Bladen Street • Media Room 9:00 AM Register now PETITION CIRCULATION – PUBLIC EVENTS Secure Elections Matter to Marylanders We are on a mission to prove that Secure and Accurate Elections are something Marylanders [&hellip;]"
slug: "citizen-action"
order: 999
date: 2024-04-10T05:07:53
formId: "inline-WMyVEALqZBf3x8U2nIay"
formUrl: "https://api.leadconnectorhq.com/widget/form/WMyVEALqZBf3x8U2nIay"
formName: "Petition Request Form"
---

<div data-elementor-type="wp-page" data-elementor-id="608" class="elementor elementor-608" data-elementor-post-type="page">
<section class="section element elementor-element-b51b9e7 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="b51b9e7" data-element_type="section" data-e-type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
<div class="background-overlay"></div>
<div class="container column-gap-default">
<div class="column elementor-top-column element elementor-element-2defc07" data-id="2defc07" data-element_type="column" data-e-type="column">
<div class="widget-wrap">
</div>
</div>
<div class="column elementor-top-column element elementor-element-9be36bc" data-id="9be36bc" data-element_type="column" data-e-type="column">
<div class="widget-wrap element-populated">
<div class="element elementor-element-3660e10 fade-in widget widget-heading" data-id="3660e10" data-element_type="widget" data-e-type="widget" data-settings="{&quot;_animation&quot;:&quot;fadeIn&quot;}" data-widget_type="heading.default">
<div class="elementor-widget-container">
<h1 class="heading-title size-default">Citizen Action</h1>				</div>
</div>
<div class="element elementor-element-d8d3bae elementor-widget-divider--view-line widget widget-divider" data-id="d8d3bae" data-element_type="widget" data-e-type="widget" data-widget_type="divider.default">
<div class="elementor-widget-container">
<div class="divider">
<span class="divider-separator">
</span>
</div>
</div>
</div>
</div>
</div>
<div class="column elementor-top-column element elementor-element-3c9bfad" data-id="3c9bfad" data-element_type="column" data-e-type="column">
<div class="widget-wrap">
</div>
</div>
</div>
</section>
<div class="element elementor-element-c94899f e-flex e-con-boxed e-con e-parent" data-id="c94899f" data-element_type="container" data-e-type="container">
<div class="e-con-inner">
<div class="element elementor-element-35aa276 widget widget-heading" data-id="35aa276" data-element_type="widget" data-e-type="widget" data-widget_type="heading.default">
<div class="elementor-widget-container">
<h2 class="heading-title size-default">REGISTER FOR LOBBY DAY – FEBRUARY 4</h2>				</div>
</div>
<div class="element elementor-element-72178ea widget widget-text-editor" data-id="72178ea" data-element_type="widget" data-e-type="widget" data-widget_type="text-editor.default">
<div class="elementor-widget-container">
<p><strong>Secure the Vote Act 2026 Lobby Day • House of Delegates 6 Bladen Street • Media Room 9:00 AM</strong></p>								</div>
</div>
</div>
</div>
<div class="element elementor-element-c39df21 e-flex e-con-boxed e-con e-parent" data-id="c39df21" data-element_type="container" data-e-type="container">
<div class="e-con-inner">
<div class="element elementor-element-f1e2d72 elementor-align-center widget widget-button" data-id="f1e2d72" data-element_type="widget" data-e-type="widget" data-widget_type="button.default">
<div class="elementor-widget-container">
<div class="elementor-button-wrapper">
<a class="elementor-button elementor-button-link elementor-size-md elementor-animation-float" href="https://securethevotemd.com/register-for-lobby-day-jan-27/#register-now" target="_blank">
<span class="elementor-button-content-wrapper">
<span class="elementor-button-text">Register now</span>
</span>
</a>
</div>
</div>
</div>
</div>
</div>
<section class="section element elementor-element-092bb10 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="092bb10" data-element_type="section" data-e-type="section">
<div class="container column-gap-default">
<div class="column elementor-top-column element elementor-element-e1e6cf9" data-id="e1e6cf9" data-element_type="column" data-e-type="column">
<div class="widget-wrap element-populated">
<section class="section elementor-inner-section element elementor-element-123223d elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="123223d" data-element_type="section" data-e-type="section">
<div class="container column-gap-default">
<div class="column elementor-inner-column element elementor-element-ad8b404 fade-in" data-id="ad8b404" data-element_type="column" data-e-type="column" data-settings="{&quot;animation&quot;:&quot;fadeInRight&quot;,&quot;animation_delay&quot;:240,&quot;animation_mobile&quot;:&quot;fadeInLeft&quot;}">
<div class="widget-wrap element-populated">
<div class="element elementor-element-5e54fc4 widget widget-heading" data-id="5e54fc4" data-element_type="widget" data-e-type="widget" data-widget_type="heading.default">
<div class="elementor-widget-container">
<h6 class="heading-title size-default">PETITION CIRCULATION – PUBLIC EVENTS</h6>				</div>
</div>
<div class="element elementor-element-11cb91c widget widget-heading" data-id="11cb91c" data-element_type="widget" data-e-type="widget" data-widget_type="heading.default">
<div class="elementor-widget-container">
<h2 class="heading-title size-default">Secure Elections Matter to Marylanders</h2>				</div>
</div>
<div class="element elementor-element-6309505 widget widget-text-editor" data-id="6309505" data-element_type="widget" data-e-type="widget" data-widget_type="text-editor.default">
<div class="elementor-widget-container">
<p><strong>We are on a mission to prove that Secure and Accurate Elections are something Marylanders believe to necessary for a government of the people by the people. Collection of signatures is well under way, and so far we&#8217;ve collected thousands. </strong></p><p><strong> </strong></p><p><b>Below are the materials you need to get involved. Print the instructions and petition.</b></p>								</div>
</div>
</div>
</div>
</div>
</section>
<section class="section elementor-inner-section element elementor-element-baa0061 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="baa0061" data-element_type="section" data-e-type="section">
<div class="container column-gap-default">
<div class="column elementor-inner-column element elementor-element-97d046d fade-in" data-id="97d046d" data-element_type="column" data-e-type="column" data-settings="{&quot;animation&quot;:&quot;fadeInLeft&quot;}">
<div class="widget-wrap element-populated">
<div class="element elementor-element-1df7aa6 widget widget-image" data-id="1df7aa6" data-element_type="widget" data-e-type="widget" data-widget_type="image.default">
<div class="elementor-widget-container">
<img decoding="async" src="https://securethevotemd.com/wp-content/uploads/elementor/thumbs/MEI-Petition-video-qndwsbjkparlmu7e32e0cfaggqfz8w967vwf6cwy68.jpg" title="MEI Petition video" alt="MEI Petition video" loading="lazy" />															</div>
</div>
</div>
</div>
<div class="column elementor-inner-column element elementor-element-31e4457 fade-in" data-id="31e4457" data-element_type="column" data-e-type="column" data-settings="{&quot;animation&quot;:&quot;fadeInRight&quot;,&quot;animation_delay&quot;:240,&quot;animation_mobile&quot;:&quot;fadeInLeft&quot;}">
<div class="widget-wrap element-populated">
<div class="element elementor-element-fb0a952 widget widget-html" data-id="fb0a952" data-element_type="widget" data-e-type="widget" data-widget_type="html.default">
<div class="elementor-widget-container">
<iframe
  src="https://api.leadconnectorhq.com/widget/form/WMyVEALqZBf3x8U2nIay"
  style="width:100%;height:100%;border:none;border-radius:3px"
  id="inline-WMyVEALqZBf3x8U2nIay" 
  data-layout="{'id':'INLINE'}"
  data-trigger-type="alwaysShow"
  data-trigger-value=""
  data-activation-type="alwaysActivated"
  data-activation-value=""
  data-deactivation-type="neverDeactivate"
  data-deactivation-value=""
  data-form-name="Petition Request Form"
  data-height="631"
  data-layout-iframe-id="inline-WMyVEALqZBf3x8U2nIay"
  data-form-id="WMyVEALqZBf3x8U2nIay"
  title="Petition Request Form"
      >
</iframe>
<script src="https://link.msgsndr.com/js/form_embed.js"></script>				</div>
</div>
</div>
</div>
</div>
</section>
</div>
</div>
</div>
</section>
<section class="section element elementor-element-2dee95b elementor-hidden-desktop elementor-hidden-tablet elementor-hidden-mobile elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="2dee95b" data-element_type="section" data-e-type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
<div class="background-overlay"></div>
<div class="container column-gap-default">
<div class="column elementor-top-column element elementor-element-399a47d" data-id="399a47d" data-element_type="column" data-e-type="column">
<div class="widget-wrap">
</div>
</div>
<div class="column elementor-top-column element elementor-element-adc44f7 fade-in" data-id="adc44f7" data-element_type="column" data-e-type="column" data-settings="{&quot;animation&quot;:&quot;fadeInLeft&quot;}">
<div class="widget-wrap element-populated">
<div class="element elementor-element-e56566e widget widget-heading" data-id="e56566e" data-element_type="widget" data-e-type="widget" data-widget_type="heading.default">
<div class="elementor-widget-container">
<h6 class="heading-title size-default">Weekly Action</h6>				</div>
</div>
<div class="element elementor-element-8534502 widget widget-elementskit-blog-posts" data-id="8534502" data-element_type="widget" data-e-type="widget" data-widget_type="elementskit-blog-posts.default">
<div class="elementor-widget-container">
<div class="ekit-wid-con" >        <div id="post-items--8534502" class="row post-items">
                </div>
       </div>				</div>
</div>
</div>
</div>
</div>
</section>
<section class="section element elementor-element-a8a9dc8 elementor-hidden-desktop elementor-hidden-tablet elementor-hidden-mobile elementor-section-boxed elementor-section-height-default elementor-section-height-default fade-in" data-id="a8a9dc8" data-element_type="section" data-e-type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;,&quot;animation&quot;:&quot;fadeIn&quot;}">
<div class="container column-gap-default">
<div class="column elementor-top-column element elementor-element-c5d3cd1" data-id="c5d3cd1" data-element_type="column" data-e-type="column">
<div class="widget-wrap element-populated">
<div class="element elementor-element-bc944f3 widget widget-heading" data-id="bc944f3" data-element_type="widget" data-e-type="widget" data-widget_type="heading.default">
<div class="elementor-widget-container">
<h6 class="heading-title size-default">Weekly Action</h6>				</div>
</div>
<div class="element elementor-element-e6d24f6 widget widget-heading" data-id="e6d24f6" data-element_type="widget" data-e-type="widget" data-widget_type="heading.default">
<div class="elementor-widget-container">
<h2 class="heading-title size-default">Lorem ipsum dolor sit amet, consectetur</h2>				</div>
</div>
<div class="element elementor-element-00efb7f elementor-widget__width-initial fade-in widget widget-text-editor" data-id="00efb7f" data-element_type="widget" data-e-type="widget" data-settings="{&quot;_animation&quot;:&quot;fadeIn&quot;}" data-widget_type="text-editor.default">
<div class="elementor-widget-container">
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>								</div>
</div>
</div>
</div>
</div>
</section>
<section class="section element elementor-element-0bcb7a3 elementor-hidden-desktop elementor-hidden-tablet elementor-hidden-mobile elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="0bcb7a3" data-element_type="section" data-e-type="section">
<div class="container column-gap-default">
<div class="column elementor-top-column element elementor-element-8192e46" data-id="8192e46" data-element_type="column" data-e-type="column">
<div class="widget-wrap element-populated">
<section class="section elementor-inner-section element elementor-element-854fdc1 elementor-section-boxed elementor-section-height-default elementor-section-height-default fade-in" data-id="854fdc1" data-element_type="section" data-e-type="section" data-settings="{&quot;animation&quot;:&quot;fadeInUp&quot;}">
<div class="container column-gap-default">
<div class="column elementor-inner-column element elementor-element-05bd129" data-id="05bd129" data-element_type="column" data-e-type="column">
<div class="widget-wrap element-populated">
<div class="element elementor-element-b986fa9 widget widget-elementskit-blog-posts" data-id="b986fa9" data-element_type="widget" data-e-type="widget" data-widget_type="elementskit-blog-posts.default">
<div class="elementor-widget-container">
<div class="ekit-wid-con" >        <div id="post-items--b986fa9" class="row post-items">
                    <div class="col-lg-4 col-md-6">

                                    <div class="elementskit-post-image-card">
                        <div class="elementskit-entry-header">
                                                            <a href="https://securethevotemd.com/2024/03/19/maryland-election-integrity-llc-and-united-sovereign-americans-hold-maryland-state-board-of-elections-accountable/" class="elementskit-entry-thumb">
                                    <img decoding="async" src="https://securethevotemd.com/wp-content/uploads/2024/04/Press-Release-3.19.24.png" alt="Maryland Election Integrity LLC and United Sovereign Americans Hold Maryland State Board of Elections Accountable">
                                </a><!-- .elementskit-entry-thumb END -->
                                                                                                    <div class="elementskit-meta-lists elementskit-style-tag">
                                        <div class="elementskit-single-meta triangle_left"><span class="elementskit-meta-wraper"><strong>19</strong>Mar</span></div>
                                    </div>
                                                                                            
                            
</div><!-- .elementskit-entry-header END -->

<div class="elementskit-post-body ">

<div class="post-meta-list">
<span class="post-cat">
<i aria-hidden="true" class="icon icon-folder"></i>										<a href="https://securethevotemd.com/category/press-release-news/" rel="category tag">Press Release/News</a> | <a href="https://securethevotemd.com/category/uncategorized/" rel="category tag">Uncategorized</a> | <a href="https://securethevotemd.com/category/weekly-action/" rel="category tag">Weekly Action</a>									</span>
</div>


<h2 class="entry-title">
<a href="https://securethevotemd.com/2024/03/19/maryland-election-integrity-llc-and-united-sovereign-americans-hold-maryland-state-board-of-elections-accountable/">
Maryland Election Integrity LLC and United Sovereign Americans&hellip;					</a>
</h2>
<p>Maryland Election Integrity LLC and United Sovereign Americans, Inc. brought a Complaint for Declaratory and Injunctive Relief against the Maryland&hellip;</p>
                                                            <div class="btn-wraper">
                                                                            <a class="elementskit-btn whitespace--normal" id="" href="https://securethevotemd.com/2024/03/19/maryland-election-integrity-llc-and-united-sovereign-americans-hold-maryland-state-board-of-elections-accountable/">
                                            READ MORE                                            <i aria-hidden="true" class="icon icon-arrow-right"></i>                                        </a>
                                    
                                                                    </div>
                                                    </div><!-- .elementskit-post-body END -->
                    </div>
                
            </div>
                </div>
       </div>				</div>
</div>
</div>
</div>
</div>
</section>
</div>
</div>
</div>
</section>
<section class="section element elementor-element-ebb4da7 elementor-section-boxed elementor-section-height-default elementor-section-height-default fade-in" data-id="ebb4da7" data-element_type="section" data-e-type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;,&quot;animation&quot;:&quot;fadeIn&quot;}">
<div class="background-overlay"></div>
<div class="container column-gap-default">
<div class="column elementor-top-column element elementor-element-e86c41a" data-id="e86c41a" data-element_type="column" data-e-type="column">
<div class="widget-wrap element-populated">
<div class="element elementor-element-4e01ea9 widget widget-heading" data-id="4e01ea9" data-element_type="widget" data-e-type="widget" data-widget_type="heading.default">
<div class="elementor-widget-container">
<h6 class="heading-title size-default">Citizen Action</h6>				</div>
</div>
</div>
</div>
</div>
</section>
<section class="section element elementor-element-873966e elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="873966e" data-element_type="section" data-e-type="section">
<div class="container column-gap-default">
<div class="column elementor-top-column element elementor-element-cb7c6b5" data-id="cb7c6b5" data-element_type="column" data-e-type="column">
<div class="widget-wrap element-populated">
<section class="section elementor-inner-section element elementor-element-13307eb elementor-section-boxed elementor-section-height-default elementor-section-height-default fade-in" data-id="13307eb" data-element_type="section" data-e-type="section" data-settings="{&quot;animation&quot;:&quot;fadeInUp&quot;}">
<div class="container column-gap-default">
<div class="column elementor-inner-column element elementor-element-e0dcb87" data-id="e0dcb87" data-element_type="column" data-e-type="column">
<div class="widget-wrap element-populated">
<div class="element elementor-element-9367bcc widget widget-elementskit-blog-posts" data-id="9367bcc" data-element_type="widget" data-e-type="widget" data-widget_type="elementskit-blog-posts.default">
<div class="elementor-widget-container">
<div class="ekit-wid-con" >        <div id="post-items--9367bcc" class="row post-items">
                    <div class="col-lg-4 col-md-6">

                                    <div class="elementskit-post-image-card">
                        <div class="elementskit-entry-header">
                                                            <a href="https://securethevotemd.com/2024/05/01/poll-watchers-toolkit/" class="elementskit-entry-thumb">
                                    <img decoding="async" src="https://securethevotemd.com/wp-content/uploads/2024/05/Election-poll-Nov-27-1024x683.jpg" alt="POLL WATCHER&#8217;s TOOLKIT">
                                </a><!-- .elementskit-entry-thumb END -->
                                                                                                    <div class="elementskit-meta-lists elementskit-style-tag">
                                        <div class="elementskit-single-meta triangle_left"><span class="elementskit-meta-wraper"><strong>01</strong>May</span></div>
                                    </div>
                                                                                            
                            
</div><!-- .elementskit-entry-header END -->

<div class="elementskit-post-body ">

<div class="post-meta-list">
<span class="post-cat">
<i aria-hidden="true" class="icon icon-folder"></i>										<a href="https://securethevotemd.com/category/citizen-action/" rel="category tag">Citizen Action</a> | <a href="https://securethevotemd.com/category/uncategorized/" rel="category tag">Uncategorized</a>									</span>
</div>


<h2 class="entry-title">
<a href="https://securethevotemd.com/2024/05/01/poll-watchers-toolkit/">
POLL WATCHER&#8217;s TOOLKIT					</a>
</h2>
<p>Observation Rights Letter Challenger Certificate 2024 The Poll Watcher&#8217;s Toolkit Citizens like you are required to keep our elections secure&hellip;</p>
                                                            <div class="btn-wraper">
                                                                            <a class="elementskit-btn whitespace--normal" id="" href="https://securethevotemd.com/2024/05/01/poll-watchers-toolkit/">
                                            READ MORE                                            <i aria-hidden="true" class="icon icon-arrow-right"></i>                                        </a>
                                    
                                                                    </div>
                                                    </div><!-- .elementskit-post-body END -->
                    </div>
                
            </div>
                    <div class="col-lg-4 col-md-6">

                                    <div class="elementskit-post-image-card">
                        <div class="elementskit-entry-header">
                                                            <a href="https://securethevotemd.com/2024/04/19/how-to-testify-at-the-mga/" class="elementskit-entry-thumb">
                                    <img decoding="async" src="https://securethevotemd.com/wp-content/uploads/2024/04/people-with-placards-and-posters-on-global-strike-for-climate-change--1024x683.jpg" alt="HOW TO TESTIFY AT THE MGA">
                                </a><!-- .elementskit-entry-thumb END -->
                                                                                                    <div class="elementskit-meta-lists elementskit-style-tag">
                                        <div class="elementskit-single-meta triangle_left"><span class="elementskit-meta-wraper"><strong>19</strong>Apr</span></div>
                                    </div>
                                                                                            
                            
</div><!-- .elementskit-entry-header END -->

<div class="elementskit-post-body ">

<div class="post-meta-list">
<span class="post-cat">
<i aria-hidden="true" class="icon icon-folder"></i>										<a href="https://securethevotemd.com/category/citizen-action/" rel="category tag">Citizen Action</a> | <a href="https://securethevotemd.com/category/uncategorized/" rel="category tag">Uncategorized</a>									</span>
</div>


<h2 class="entry-title">
<a href="https://securethevotemd.com/2024/04/19/how-to-testify-at-the-mga/">
HOW TO TESTIFY AT THE MGA					</a>
</h2>
<p>To sign-up to testify on a bill, you must first make a “MyMGA account”.  Take your time here and be deliberate&hellip;</p>
                                                            <div class="btn-wraper">
                                                                            <a class="elementskit-btn whitespace--normal" id="" href="https://securethevotemd.com/2024/04/19/how-to-testify-at-the-mga/">
                                            READ MORE                                            <i aria-hidden="true" class="icon icon-arrow-right"></i>                                        </a>
                                    
                                                                    </div>
                                                    </div><!-- .elementskit-post-body END -->
                    </div>
                
            </div>
                    <div class="col-lg-4 col-md-6">

                                    <div class="elementskit-post-image-card">
                        <div class="elementskit-entry-header">
                                                            <a href="https://securethevotemd.com/2024/04/19/election-accuracy-citizen-action-guide/" class="elementskit-entry-thumb">
                                    <img decoding="async" src="https://securethevotemd.com/wp-content/uploads/2024/04/speech-of-political-leader-1024x683.jpg" alt="ELECTION ACCURACY CITIZEN ACTION GUIDE">
                                </a><!-- .elementskit-entry-thumb END -->
                                                                                                    <div class="elementskit-meta-lists elementskit-style-tag">
                                        <div class="elementskit-single-meta triangle_left"><span class="elementskit-meta-wraper"><strong>19</strong>Apr</span></div>
                                    </div>
                                                                                            
                            
</div><!-- .elementskit-entry-header END -->

<div class="elementskit-post-body ">

<div class="post-meta-list">
<span class="post-cat">
<i aria-hidden="true" class="icon icon-folder"></i>										<a href="https://securethevotemd.com/category/citizen-action/" rel="category tag">Citizen Action</a> | <a href="https://securethevotemd.com/category/uncategorized/" rel="category tag">Uncategorized</a>									</span>
</div>


<h2 class="entry-title">
<a href="https://securethevotemd.com/2024/04/19/election-accuracy-citizen-action-guide/">
ELECTION ACCURACY CITIZEN ACTION GUIDE					</a>
</h2>
<p>Secure the Vote MD (www.securethevotemd.com) exists to guarantee Maryland citizen’s right to a secure and accurate election. We understand our&hellip;</p>
                                                            <div class="btn-wraper">
                                                                            <a class="elementskit-btn whitespace--normal" id="" href="https://securethevotemd.com/2024/04/19/election-accuracy-citizen-action-guide/">
                                            READ MORE                                            <i aria-hidden="true" class="icon icon-arrow-right"></i>                                        </a>
                                    
                                                                    </div>
                                                    </div><!-- .elementskit-post-body END -->
                    </div>
                
            </div>
                </div>
       </div>				</div>
</div>
</div>
</div>
</div>
</section>
</div>
</div>
</div>
</section>
<section class="section element elementor-element-989d269 elementor-reverse-mobile elementor-hidden-desktop elementor-hidden-tablet elementor-hidden-mobile elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="989d269" data-element_type="section" data-e-type="section">
<div class="container column-gap-default">
<div class="column elementor-top-column element elementor-element-1e18f20 fade-in" data-id="1e18f20" data-element_type="column" data-e-type="column" data-settings="{&quot;animation&quot;:&quot;fadeInLeft&quot;}">
<div class="widget-wrap element-populated">
<div class="element elementor-element-3a64334 widget widget-heading" data-id="3a64334" data-element_type="widget" data-e-type="widget" data-widget_type="heading.default">
<div class="elementor-widget-container">
<h6 class="heading-title size-default">Legislative Action</h6>				</div>
</div>
<div class="element elementor-element-6c68e3a widget widget-elementskit-blog-posts" data-id="6c68e3a" data-element_type="widget" data-e-type="widget" data-widget_type="elementskit-blog-posts.default">
<div class="elementor-widget-container">
<div class="ekit-wid-con" >        <div id="post-items--6c68e3a" class="row post-items">
                </div>
       </div>				</div>
</div>
</div>
</div>
<div class="column elementor-top-column element elementor-element-ff853bf" data-id="ff853bf" data-element_type="column" data-e-type="column">
<div class="widget-wrap element-populated">
<div class="element elementor-element-0a169f0 widget widget-image" data-id="0a169f0" data-element_type="widget" data-e-type="widget" data-widget_type="image.default">
<div class="elementor-widget-container">
<img loading="lazy" decoding="async" width="800" height="534" src="https://securethevotemd.com/wp-content/uploads/2024/04/political-conference-1024x683.jpg" class="attachment-large size-large wp-image-21" alt="" srcset="https://securethevotemd.com/wp-content/uploads/2024/04/political-conference-1024x683.jpg 1024w, https://securethevotemd.com/wp-content/uploads/2024/04/political-conference-300x200.jpg 300w, https://securethevotemd.com/wp-content/uploads/2024/04/political-conference-768x512.jpg 768w, https://securethevotemd.com/wp-content/uploads/2024/04/political-conference.jpg 1080w" sizes="(max-width: 800px) 100vw, 800px" />															</div>
</div>
</div>
</div>
</div>
</section>
<div class="element elementor-element-8131f6a e-flex e-con-boxed e-con e-parent" data-id="8131f6a" data-element_type="container" data-e-type="container">
<div class="e-con-inner">
<div class="element elementor-element-c3a869c widget widget-image" data-id="c3a869c" data-element_type="widget" data-e-type="widget" data-widget_type="image.default">
<div class="elementor-widget-container">
<img decoding="async" src="https://securethevotemd.com/wp-content/plugins/elementor/assets/images/placeholder.png" title="" alt="" loading="lazy" />															</div>
</div>
</div>
</div>
</div>

