---
layout: base.njk
title: "Contact Secure The Vote MD"
description: "Get in touch with Secure The Vote Maryland. Connect with our team to learn more about election integrity efforts, volunteer opportunities, and how you can help secure Maryland elections."
keywords: "contact Secure The Vote MD, Maryland election integrity contact, volunteer election security, Maryland voter advocacy, get involved elections Maryland"
slug: "contact-us"
order: 11
date: 2024-04-05T05:30:55
modified: 2026-02-13T10:20:00
image: "/images/contact-og.jpg"
ogType: "website"
formId: "inline-VKGfCbVl8VpiTtXuEmJl"
formUrl: "https://api.leadconnectorhq.com/widget/form/VKGfCbVl8VpiTtXuEmJl"
formName: "Secure The Vote Website Form"
breadcrumbs:
  - name: "Contact Us"
    url: "/pages/contact-us/"
---

<div data-elementor-type="wp-page" data-elementor-id="318" class="elementor elementor-318" data-elementor-post-type="page">
<section class="section element elementor-element-b51b9e7 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="b51b9e7" data-element_type="section" data-e-type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
<div class="background-overlay"></div>
<div class="container column-gap-default">
<div class="column elementor-top-column element elementor-element-2defc07" data-id="2defc07" data-element_type="column" data-e-type="column">
<div class="widget-wrap">
</div>
</div>
<div class="column elementor-top-column element elementor-element-9be36bc" data-id="9be36bc" data-element_type="column" data-e-type="column">
<div class="widget-wrap element-populated">
<div class="element elementor-element-3660e10 fade-in widget widget-heading" data-id="3660e10" data-element_type="widget" data-e-type="widget" data-settings="{&quot;_animation&quot;:&quot;fadeIn&quot;}" data-widget_type="heading.default">
<div class="elementor-widget-container">
<h1 class="heading-title size-default">Send Us A Message</h1>				</div>
</div>
<div class="element elementor-element-d8d3bae elementor-widget-divider--view-line widget widget-divider" data-id="d8d3bae" data-element_type="widget" data-e-type="widget" data-widget_type="divider.default">
<div class="elementor-widget-container">
<div class="divider">
<span class="divider-separator">
</span>
</div>
</div>
</div>
<div class="element elementor-element-010ecdd elementor-widget__width-initial elementor-widget-mobile__width-inherit fade-in widget widget-heading" data-id="010ecdd" data-element_type="widget" data-e-type="widget" data-settings="{&quot;_animation&quot;:&quot;fadeIn&quot;}" data-widget_type="heading.default">
<div class="elementor-widget-container">
<h4 class="heading-title size-default">We would love to hear from you.</h4>				</div>
</div>
<div class="element elementor-element-7a8795d elementor-align-center widget widget-button" data-id="7a8795d" data-element_type="widget" data-e-type="widget" data-widget_type="button.default">
<div class="elementor-widget-container">
<div class="elementor-button-wrapper">
<a class="elementor-button elementor-button-link elementor-size-md elementor-animation-float" href="https://donorbox.org/united-sovereign-americans-maryland-donation" target="_blank">
<span class="elementor-button-content-wrapper">
<span class="elementor-button-text">Donate Now</span>
</span>
</a>
</div>
</div>
</div>
</div>
</div>
<div class="column elementor-top-column element elementor-element-3c9bfad" data-id="3c9bfad" data-element_type="column" data-e-type="column">
<div class="widget-wrap">
</div>
</div>
</div>
</section>
<div class="element elementor-element-4267e11 e-flex e-con-boxed e-con e-parent" data-id="4267e11" data-element_type="container" data-e-type="container">
<div class="e-con-inner">
<div class="element elementor-element-f538348 widget widget-html" data-id="f538348" data-element_type="widget" data-e-type="widget" data-widget_type="html.default">
<div class="elementor-widget-container">
<iframe
  src="https://api.leadconnectorhq.com/widget/form/VKGfCbVl8VpiTtXuEmJl"
  style="width:100%;height:100%;border:none;border-radius:3px"
  id="inline-VKGfCbVl8VpiTtXuEmJl"
  data-layout="{'id':'INLINE'}"
  data-trigger-type="alwaysShow"
  data-trigger-value=""
  data-activation-type="alwaysActivated"
  data-activation-value=""
  data-deactivation-type="neverDeactivate"
  data-deactivation-value=""
  data-form-name="Secure The Vote Website Form"
  data-height="582"
  data-layout-iframe-id="inline-VKGfCbVl8VpiTtXuEmJl"
  data-form-id="VKGfCbVl8VpiTtXuEmJl"
  title="Secure The Vote Website Form"
      >
</iframe>
<script src="https://link.msgsndr.com/js/form_embed.js"></script>				</div>
</div>
</div>
</div>
<section class="section element elementor-element-1c159e35 elementor-reverse-mobile elementor-hidden-desktop elementor-hidden-tablet elementor-hidden-mobile elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="1c159e35" data-element_type="section" data-e-type="section">
<div class="container column-gap-default">
<div class="column elementor-top-column element elementor-element-6e1795b fade-in" data-id="6e1795b" data-element_type="column" data-e-type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;,&quot;animation&quot;:&quot;fadeInLeft&quot;}">
<div class="widget-wrap element-populated">
<div class="element elementor-element-23a86b26 widget widget-heading" data-id="23a86b26" data-element_type="widget" data-e-type="widget" data-widget_type="heading.default">
<div class="elementor-widget-container">
<h6 class="heading-title size-default">Get in touch</h6>				</div>
</div>
<div class="element elementor-element-5604cd13 widget widget-heading" data-id="5604cd13" data-element_type="widget" data-e-type="widget" data-widget_type="heading.default">
<div class="elementor-widget-container">
<h2 class="heading-title size-default">Let's Talk
</h2>				</div>
</div>
<div class="element elementor-element-446bb8b6 widget widget-text-editor" data-id="446bb8b6" data-element_type="widget" data-e-type="widget" data-widget_type="text-editor.default">
<div class="elementor-widget-container">
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>								</div>
</div>
<div class="element elementor-element-4dee0741 elementor-view-stacked elementor-shape-square elementor-position-inline-start elementor-mobile-position-inline-start widget widget-icon-box" data-id="4dee0741" data-element_type="widget" data-e-type="widget" data-widget_type="icon-box.default">
<div class="elementor-widget-container">
<div class="elementor-icon-box-wrapper">

<div class="elementor-icon-box-icon">
<a href="mailto:info@securethevotemd.com" class="elementor-icon" tabindex="-1" aria-label="Email Us">
<i aria-hidden="true" class="icon icon-envelope1"></i>				</a>
</div>

<div class="elementor-icon-box-content">

<h4 class="elementor-icon-box-title">
<a href="mailto:info@securethevotemd.com" >
Email Us						</a>
</h4>

<p class="elementor-icon-box-description">
info@securethevotemd.com					</p>

</div>

</div>
</div>
</div>
<div class="element elementor-element-1da75c84 elementor-view-stacked elementor-shape-square elementor-position-inline-start elementor-mobile-position-inline-start widget widget-icon-box" data-id="1da75c84" data-element_type="widget" data-e-type="widget" data-widget_type="icon-box.default">
<div class="elementor-widget-container">
<div class="elementor-icon-box-wrapper">

<div class="elementor-icon-box-icon">
<a href="#" class="elementor-icon" tabindex="-1" aria-label="Call Us">
<i aria-hidden="true" class="icon icon-phone-call1"></i>				</a>
</div>

<div class="elementor-icon-box-content">

<div class="elementor-icon-box-title">
<a href="#" >
Call Us						</a>
</div>

<p class="elementor-icon-box-description">
1234567890					</p>

</div>

</div>
</div>
</div>
<div class="element elementor-element-ffe695b e-grid-align-left elementor-shape-rounded elementor-grid-0 widget widget-social-icons" data-id="ffe695b" data-element_type="widget" data-e-type="widget" data-widget_type="social-icons.default">
<div class="elementor-widget-container">
<div class="elementor-social-icons-wrapper elementor-grid" role="list">
<span class="elementor-grid-item" role="listitem">
<a class="elementor-icon elementor-social-icon elementor-social-icon-facebook-f elementor-animation-grow elementor-repeater-item-9494f14" target="_blank">
<span class="elementor-screen-only">Facebook-f</span>
<svg aria-hidden="true" class="e-font-icon-svg e-fab-facebook-f" viewBox="0 0 320 512" xmlns="http://www.w3.org/2000/svg"><path d="M279.14 288l14.22-92.66h-88.91v-60.13c0-25.35 12.42-50.06 52.24-50.06h40.42V6.26S260.43 0 225.36 0c-73.22 0-121.08 44.38-121.08 124.72v70.62H22.89V288h81.39v224h100.17V288z"></path></svg>					</a>
</span>
<span class="elementor-grid-item" role="listitem">
<a class="elementor-icon elementor-social-icon elementor-social-icon-linkedin elementor-animation-grow elementor-repeater-item-a6392d5" target="_blank">
<span class="elementor-screen-only">Linkedin</span>
<svg aria-hidden="true" class="e-font-icon-svg e-fab-linkedin" viewBox="0 0 448 512" xmlns="http://www.w3.org/2000/svg"><path d="M416 32H31.9C14.3 32 0 46.5 0 64.3v383.4C0 465.5 14.3 480 31.9 480H416c17.6 0 32-14.5 32-32.3V64.3c0-17.8-14.4-32.3-32-32.3zM135.4 416H69V202.2h66.5V416zm-33.2-243c-21.3 0-38.5-17.3-38.5-38.5S80.9 96 102.2 96c21.2 0 38.5 17.3 38.5 38.5 0 21.3-17.2 38.5-38.5 38.5zm282.1 243h-66.4V312c0-24.8-.5-56.7-34.5-56.7-34.6 0-39.9 27-39.9 54.9V416h-66.4V202.2h63.7v29.2h.9c8.9-16.8 30.6-34.5 62.9-34.5 67.2 0 79.7 44.3 79.7 101.9V416z"></path></svg>					</a>
</span>
<span class="elementor-grid-item" role="listitem">
<a class="elementor-icon elementor-social-icon elementor-social-icon-x-twitter elementor-animation-grow elementor-repeater-item-74f5145" target="_blank">
<span class="elementor-screen-only">X-twitter</span>
<svg aria-hidden="true" class="e-font-icon-svg e-fab-x-twitter" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg"><path d="M389.2 48h70.6L305.6 224.2 487 464H345L233.7 318.6 106.5 464H35.8L200.7 275.5 26.8 48H172.4L272.9 180.9 389.2 48zM364.4 421.8h39.1L151.1 88h-42L364.4 421.8z"></path></svg>					</a>
</span>
<span class="elementor-grid-item" role="listitem">
<a class="elementor-icon elementor-social-icon elementor-social-icon-telegram elementor-animation-grow elementor-repeater-item-df8b432" target="_blank">
<span class="elementor-screen-only">Telegram</span>
<svg aria-hidden="true" class="e-font-icon-svg e-fab-telegram" viewBox="0 0 496 512" xmlns="http://www.w3.org/2000/svg"><path d="M248 8C111 8 0 119 0 256s111 248 248 248 248-111 248-248S385 8 248 8zm121.8 169.9l-40.7 191.8c-3 13.6-11.1 16.9-22.4 10.5l-62-45.7-29.9 28.8c-3.3 3.3-6.1 6.1-12.5 6.1l4.4-63.1 114.9-103.8c5-4.4-1.1-6.9-7.7-2.5l-142 89.4-61.2-19.1c-13.3-4.2-13.6-13.3 2.8-19.7l239.1-92.2c11.1-4 20.8 2.7 17.2 19.5z"></path></svg>					</a>
</span>
<span class="elementor-grid-item" role="listitem">
<a class="elementor-icon elementor-social-icon elementor-social-icon-youtube elementor-animation-grow elementor-repeater-item-a8bf1a9" target="_blank">
<span class="elementor-screen-only">Youtube</span>
<svg aria-hidden="true" class="e-font-icon-svg e-fab-youtube" viewBox="0 0 576 512" xmlns="http://www.w3.org/2000/svg"><path d="M549.655 124.083c-6.281-23.65-24.787-42.276-48.284-48.597C458.781 64 288 64 288 64S117.22 64 74.629 75.486c-23.497 6.322-42.003 24.947-48.284 48.597-11.412 42.867-11.412 132.305-11.412 132.305s0 89.438 11.412 132.305c6.281 23.65 24.787 41.5 48.284 47.821C117.22 448 288 448 288 448s170.78 0 213.371-11.486c23.497-6.321 42.003-24.171 48.284-47.821 11.412-42.867 11.412-132.305 11.412-132.305s0-89.438-11.412-132.305zm-317.51 213.508V175.185l142.739 81.205-142.739 81.201z"></path></svg>					</a>
</span>
</div>
</div>
</div>
</div>
</div>
<div class="column elementor-top-column element elementor-element-ef4d320 fade-in" data-id="ef4d320" data-element_type="column" data-e-type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;,&quot;animation&quot;:&quot;fadeInRight&quot;,&quot;animation_mobile&quot;:&quot;fadeInLeft&quot;}">
<div class="widget-wrap element-populated">
<div class="element elementor-element-6441a974 widget widget-heading" data-id="6441a974" data-element_type="widget" data-e-type="widget" data-widget_type="heading.default">
<div class="elementor-widget-container">
<h2 class="heading-title size-default">Send us a message</h2>				</div>
</div>
<div class="element elementor-element-88a6b52 elementor-widget-divider--view-line widget widget-divider" data-id="88a6b52" data-element_type="widget" data-e-type="widget" data-widget_type="divider.default">
<div class="elementor-widget-container">
<div class="divider">
<span class="divider-separator">
</span>
</div>
</div>
</div>
<div class="element elementor-element-07da01f widget widget-elementskit-contact-form7" data-id="07da01f" data-element_type="widget" data-e-type="widget" data-widget_type="elementskit-contact-form7.default">
<div class="elementor-widget-container">
<div class="ekit-wid-con" ><div class="ekit-form">
<div class="wpcf7 no-js" id="wpcf7-f334-p318-o1" lang="en-US" dir="ltr" data-wpcf7-id="334">
<div class="screen-reader-response"><p role="status" aria-live="polite" aria-atomic="true"></p> <ul></ul></div>
<form action="/contact-us/#wpcf7-f334-p318-o1" method="post" class="wpcf7-form init" aria-label="Contact form" novalidate="novalidate" data-status="init">
<fieldset class="hidden-fields-container"><input type="hidden" name="_wpcf7" value="334" /><input type="hidden" name="_wpcf7_version" value="6.1.5" /><input type="hidden" name="_wpcf7_locale" value="en_US" /><input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f334-p318-o1" /><input type="hidden" name="_wpcf7_container_post" value="318" /><input type="hidden" name="_wpcf7_posted_data_hash" value="" />
</fieldset>
<p><span class="wpcf7-form-control-wrap" data-name="your-name"><input size="40" maxlength="400" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" autocomplete="name" aria-required="true" aria-invalid="false" placeholder="Name" value="" type="text" name="your-name" /></span><br />
<span class="wpcf7-form-control-wrap" data-name="tel-427"><input size="40" maxlength="400" class="wpcf7-form-control wpcf7-tel wpcf7-validates-as-required wpcf7-text wpcf7-validates-as-tel" aria-required="true" aria-invalid="false" placeholder="Phone" value="" type="tel" name="tel-427" /></span><br />
<span class="wpcf7-form-control-wrap" data-name="your-email"><input size="40" maxlength="400" class="wpcf7-form-control wpcf7-email wpcf7-validates-as-required wpcf7-text wpcf7-validates-as-email" autocomplete="email" aria-required="true" aria-invalid="false" placeholder="Email" value="" type="email" name="your-email" /></span><br />
<span class="wpcf7-form-control-wrap" data-name="your-message"><textarea cols="40" rows="10" maxlength="2000" class="wpcf7-form-control wpcf7-textarea" aria-invalid="false" placeholder="Message" name="your-message"></textarea></span>
</p>
<p><input type="hidden" name="_wpcf7_captcha_challenge_captcha-170" value="2844775448" /><img loading="lazy" decoding="async" class="wpcf7-form-control wpcf7-captchac wpcf7-captcha-captcha-170" width="72" height="24" alt="captcha" src="https://securethevotemd.com/wp-content/uploads/wpcf7_captcha/2844775448.png" /><br />
<span class="wpcf7-form-control-wrap" data-name="captcha-170"><input size="4" maxlength="4" class="wpcf7-form-control wpcf7-captchar" autocomplete="off" aria-invalid="false" value="" type="text" name="captcha-170" /></span>
</p>
<p><input class="wpcf7-form-control wpcf7-submit has-spinner" type="submit" value="Send Message" />
</p><div class="wpcf7-response-output" aria-hidden="true"></div>
</form>
</div>
</div></div>				</div>
</div>
</div>
</div>
</div>
</section>
</div>

