---
layout: base.njk
title: "In the news"
description: "In the news How many illegal aliens live in Maryland? In April 2024, Maryland’s comptroller issued a “State of the Economy” brief spotlighting immigration. Despite its size, Maryland’s foreign-born population proportion tops the U.S. average (13.9% in 2022), a position the state achieved in the 2000s and has maintained&#8230; Read More Election watchdog group calls [&hellip;]"
slug: "in-the-news"
order: 999
date: 2024-04-19T15:54:00



---

<div data-elementor-type="wp-page" data-elementor-id="1480" class="elementor elementor-1480" data-elementor-post-type="page">
<section class="section element elementor-element-0424d8b elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="0424d8b" data-element_type="section" data-e-type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
<div class="background-overlay"></div>
<div class="container column-gap-default">
<div class="column elementor-top-column element elementor-element-7d969f0" data-id="7d969f0" data-element_type="column" data-e-type="column">
<div class="widget-wrap">
</div>
</div>
<div class="column elementor-top-column element elementor-element-b92a078" data-id="b92a078" data-element_type="column" data-e-type="column">
<div class="widget-wrap element-populated">
<div class="element elementor-element-dd95203 fade-in widget widget-heading" data-id="dd95203" data-element_type="widget" data-e-type="widget" data-settings="{&quot;_animation&quot;:&quot;fadeIn&quot;}" data-widget_type="heading.default">
<div class="elementor-widget-container">
<h1 class="heading-title size-default">In the news</h1>				</div>
</div>
<div class="element elementor-element-e7d4210 elementor-widget-divider--view-line widget widget-divider" data-id="e7d4210" data-element_type="widget" data-e-type="widget" data-widget_type="divider.default">
<div class="elementor-widget-container">
<div class="divider">
<span class="divider-separator">
</span>
</div>
</div>
</div>
</div>
</div>
<div class="column elementor-top-column element elementor-element-2a8021c" data-id="2a8021c" data-element_type="column" data-e-type="column">
<div class="widget-wrap">
</div>
</div>
</div>
</section>
<div class="element elementor-element-444cc50 e-flex e-con-boxed e-con e-parent" data-id="444cc50" data-element_type="container" data-e-type="container">
<div class="e-con-inner">
<div class="element elementor-element-b0272aa e-con-full e-flex e-con e-child" data-id="b0272aa" data-element_type="container" data-e-type="container">
<div class="element elementor-element-e15d7a2 ekit-equal-height-disable widget widget-elementskit-image-box" data-id="e15d7a2" data-element_type="widget" data-e-type="widget" data-widget_type="elementskit-image-box.default">
<div class="elementor-widget-container">
<div class="ekit-wid-con" >
            <div class="elementskit-info-image-box ekit-image-box text-center simple-card" >

                <a href="https://www.americanthinker.com/blog/2025/10/how_many_illegal_aliens_live_in_maryland.html" target="_blank">
                <div class="elementskit-box-header image-box-img-center">

                    <img loading="lazy" decoding="async" width="640" height="672" src="https://securethevotemd.com/wp-content/uploads/2025/10/3psqvbsz6fufrlr9byrs_640.jpg" class="attachment-full size-full wp-image-3112" alt="" srcset="https://securethevotemd.com/wp-content/uploads/2025/10/3psqvbsz6fufrlr9byrs_640.jpg 640w, https://securethevotemd.com/wp-content/uploads/2025/10/3psqvbsz6fufrlr9byrs_640-286x300.jpg 286w" sizes="(max-width: 640px) 100vw, 640px" />
                </div>
                </a>
                <div class="elementskit-box-body ekit-image-box-body">
                    <div class="elementskit-box-content ekit-image-box-body-inner">
                                                <h2 class="elementskit-info-box-title">

                        How many illegal aliens live in Maryland?
                        
                    </h2>
                                                            <div class="elementskit-box-style-content">
                        In April 2024, Maryland’s comptroller issued a “State of the Economy” brief spotlighting immigration.  Despite its size, Maryland’s foreign-born population proportion tops the U.S. average (13.9% in 2022), a position the state achieved in the 2000s and has maintained...                    </div>
                                    </div>

                                <div class="elementskit-box-footer">
                    <div class="box-footer">
                        <div class="btn-wraper">
                                                            <a href="https://www.americanthinker.com/blog/2025/10/how_many_illegal_aliens_live_in_maryland.html" target="_blank" class="elementskit-btn whitespace--normal">
                                    
                                    
                                    Read More                                </a>
                                                        </div>
                    </div>
                </div>
                            </div>
            </div>
    </div>				</div>
</div>
</div>
<div class="element elementor-element-4550da1 e-con-full e-flex e-con e-child" data-id="4550da1" data-element_type="container" data-e-type="container">
<div class="element elementor-element-74185d2 ekit-equal-height-disable widget widget-elementskit-image-box" data-id="74185d2" data-element_type="widget" data-e-type="widget" data-widget_type="elementskit-image-box.default">
<div class="elementor-widget-container">
<div class="ekit-wid-con" >
            <div class="elementskit-info-image-box ekit-image-box text-center simple-card" >

                <a href="https://www.youtube.com/watch?v=sTJWgtGUNNQ" target="_blank">
                <div class="elementskit-box-header image-box-img-center">

                    <img loading="lazy" decoding="async" width="480" height="360" src="https://securethevotemd.com/wp-content/uploads/2025/10/image-20.jpg" class="attachment-full size-full wp-image-3089" alt="" srcset="https://securethevotemd.com/wp-content/uploads/2025/10/image-20.jpg 480w, https://securethevotemd.com/wp-content/uploads/2025/10/image-20-300x225.jpg 300w" sizes="(max-width: 480px) 100vw, 480px" />
                </div>
                </a>
                <div class="elementskit-box-body ekit-image-box-body">
                    <div class="elementskit-box-content ekit-image-box-body-inner">
                                                <h2 class="elementskit-info-box-title">

                        Election watchdog group calls for review of Maryland voter registration processes
                        
                    </h2>
                                                            <div class="elementskit-box-style-content">
                        "As they were saying the state of the rolls were wonderful, the story of Ian Roberts broke, that there is in fact a non-citizen on the rolls. Something they have said over and over again does not happen," said Kate Sullivan, the director of Secure the Vote...                    </div>
                                    </div>

                                <div class="elementskit-box-footer">
                    <div class="box-footer">
                        <div class="btn-wraper">
                                                            <a href="https://www.youtube.com/watch?v=sTJWgtGUNNQ" target="_blank" class="elementskit-btn whitespace--normal">
                                    
                                    
                                    Read More                                </a>
                                                        </div>
                    </div>
                </div>
                            </div>
            </div>
    </div>				</div>
</div>
</div>
<div class="element elementor-element-7bc992c e-con-full e-flex e-con e-child" data-id="7bc992c" data-element_type="container" data-e-type="container">
<div class="element elementor-element-3c53688 ekit-equal-height-disable widget widget-elementskit-image-box" data-id="3c53688" data-element_type="widget" data-e-type="widget" data-widget_type="elementskit-image-box.default">
<div class="elementor-widget-container">
<div class="ekit-wid-con" >
            <div class="elementskit-info-image-box ekit-image-box text-center simple-card" >

                <a href="https://www.wmar2news.com/infocus/maryland-republican-lawmakers-demand-review-of-voter-rolls-after-former-baltimore-principal-is-arrested-by-ice" target="_blank">
                <div class="elementskit-box-header image-box-img-center">

                    <img loading="lazy" decoding="async" width="1280" height="720" src="https://securethevotemd.com/wp-content/uploads/2025/10/download-11.jpeg" class="attachment-full size-full wp-image-3088" alt="" srcset="https://securethevotemd.com/wp-content/uploads/2025/10/download-11.jpeg 1280w, https://securethevotemd.com/wp-content/uploads/2025/10/download-11-300x169.jpeg 300w, https://securethevotemd.com/wp-content/uploads/2025/10/download-11-1024x576.jpeg 1024w, https://securethevotemd.com/wp-content/uploads/2025/10/download-11-768x432.jpeg 768w" sizes="(max-width: 1280px) 100vw, 1280px" />
                </div>
                </a>
                <div class="elementskit-box-body ekit-image-box-body">
                    <div class="elementskit-box-content ekit-image-box-body-inner">
                                                <h2 class="elementskit-info-box-title">

                        Maryland Republican lawmakers demand review of voter rolls after former Baltimore principal is arrested by ICE
                        
                    </h2>
                                                            <div class="elementskit-box-style-content">
                        Maryland Republican lawmakers are demanding answers after a former Baltimore principal, now found to be in the country illegally, was registered to vote...                    </div>
                                    </div>

                                <div class="elementskit-box-footer">
                    <div class="box-footer">
                        <div class="btn-wraper">
                                                            <a href="https://www.wmar2news.com/infocus/maryland-republican-lawmakers-demand-review-of-voter-rolls-after-former-baltimore-principal-is-arrested-by-ice" target="_blank" class="elementskit-btn whitespace--normal">
                                    
                                    
                                    Read More                                </a>
                                                        </div>
                    </div>
                </div>
                            </div>
            </div>
    </div>				</div>
</div>
</div>
</div>
</div>
<div class="element elementor-element-ef2cd76 e-flex e-con-boxed e-con e-parent" data-id="ef2cd76" data-element_type="container" data-e-type="container">
<div class="e-con-inner">
<div class="element elementor-element-981fcfc e-con-full e-flex e-con e-child" data-id="981fcfc" data-element_type="container" data-e-type="container">
<div class="element elementor-element-2ffd912 ekit-equal-height-disable widget widget-elementskit-image-box" data-id="2ffd912" data-element_type="widget" data-e-type="widget" data-widget_type="elementskit-image-box.default">
<div class="elementor-widget-container">
<div class="ekit-wid-con" >
            <div class="elementskit-info-image-box ekit-image-box text-center simple-card" >

                <a href="https://www.foxnews.com/politics/lawmaker-reveals-how-des-moines-schools-chief-registered-vote-despite-illegal-status?intcmp=fb_fnc&#038;utm_campaign=trueanthem&#038;utm_medium=social&#038;utm_source=facebook&#038;fbclid=IwY2xjawN5uvJleHRuA2FlbQIxMQBicmlkETFzaEVrNWJKQ0xVTjdIazhxc3J0YwZhcHBfaWQQMjIyMDM5MTc4ODIwMDg5MgABHu_0VbFxk0WeN9ue6Bc1SbRJ51gYwIr_5FZH-dl7uTe_AAtS-5DIbCYKMCTc_aem_0BsbGRNHiH1ryznoHLWBew" target="_blank">
                <div class="elementskit-box-header image-box-img-center">

                    <img loading="lazy" decoding="async" width="800" height="450" src="https://securethevotemd.com/wp-content/uploads/2025/10/AA1NGGtO.jpeg" class="attachment-large size-large wp-image-3090" alt="" srcset="https://securethevotemd.com/wp-content/uploads/2025/10/AA1NGGtO.jpeg 825w, https://securethevotemd.com/wp-content/uploads/2025/10/AA1NGGtO-300x169.jpeg 300w, https://securethevotemd.com/wp-content/uploads/2025/10/AA1NGGtO-768x432.jpeg 768w" sizes="(max-width: 800px) 100vw, 800px" />
                </div>
                </a>
                <div class="elementskit-box-body ekit-image-box-body">
                    <div class="elementskit-box-content ekit-image-box-body-inner">
                                                <h2 class="elementskit-info-box-title">

                        Illegal registered to vote just ‘tip of the iceberg,’ says GOP delegate
                        
                    </h2>
                                                            <div class="elementskit-box-style-content">
                        Maryland state Delegate Lauren Arikan blasted Democratic leaders in her state after an illegal alien was found registered to vote, saying this is “the tip of the iceberg.”...                    </div>
                                    </div>

                                <div class="elementskit-box-footer">
                    <div class="box-footer">
                        <div class="btn-wraper">
                                                            <a href="https://www.foxnews.com/politics/lawmaker-reveals-how-des-moines-schools-chief-registered-vote-despite-illegal-status?intcmp=fb_fnc&#038;utm_campaign=trueanthem&#038;utm_medium=social&#038;utm_source=facebook&#038;fbclid=IwY2xjawN5uvJleHRuA2FlbQIxMQBicmlkETFzaEVrNWJKQ0xVTjdIazhxc3J0YwZhcHBfaWQQMjIyMDM5MTc4ODIwMDg5MgABHu_0VbFxk0WeN9ue6Bc1SbRJ51gYwIr_5FZH-dl7uTe_AAtS-5DIbCYKMCTc_aem_0BsbGRNHiH1ryznoHLWBew" target="_blank" class="elementskit-btn whitespace--normal">
                                    
                                    
                                    Read More                                </a>
                                                        </div>
                    </div>
                </div>
                            </div>
            </div>
    </div>				</div>
</div>
</div>
<div class="element elementor-element-1af8800 e-con-full e-flex e-con e-child" data-id="1af8800" data-element_type="container" data-e-type="container">
<div class="element elementor-element-1928796 ekit-equal-height-disable widget widget-elementskit-image-box" data-id="1928796" data-element_type="widget" data-e-type="widget" data-widget_type="elementskit-image-box.default">
<div class="elementor-widget-container">
<div class="ekit-wid-con" >
            <div class="elementskit-info-image-box ekit-image-box text-center simple-card" >

                <a href="https://vocal.media/theSwamp/maryland-s-dirty-voter-rolls" target="_blank">
                <div class="elementskit-box-header image-box-img-center">

                    <img loading="lazy" decoding="async" width="1024" height="683" src="https://securethevotemd.com/wp-content/uploads/2025/08/6882cc757e0267001da473e8.jpeg" class="attachment-full size-full wp-image-2830" alt="" srcset="https://securethevotemd.com/wp-content/uploads/2025/08/6882cc757e0267001da473e8.jpeg 1024w, https://securethevotemd.com/wp-content/uploads/2025/08/6882cc757e0267001da473e8-300x200.jpeg 300w, https://securethevotemd.com/wp-content/uploads/2025/08/6882cc757e0267001da473e8-768x512.jpeg 768w" sizes="(max-width: 1024px) 100vw, 1024px" />
                </div>
                </a>
                <div class="elementskit-box-body ekit-image-box-body">
                    <div class="elementskit-box-content ekit-image-box-body-inner">
                                                <h2 class="elementskit-info-box-title">

                        Maryland’s Dirty Voter<br>Rolls
                        
                    </h2>
                                                            <div class="elementskit-box-style-content">
                        <strong>Republicans Sound the Alarm as Feds Join Scrutiny</strong>
<br>
<br>In a state where Democrats have long held political dominance, Maryland’s elections officials are facing intensifying scrutiny over what many see as systemic failures in maintaining voter integrity...                    </div>
                                    </div>

                                <div class="elementskit-box-footer">
                    <div class="box-footer">
                        <div class="btn-wraper">
                                                            <a href="https://vocal.media/theSwamp/maryland-s-dirty-voter-rolls" target="_blank" class="elementskit-btn whitespace--normal">
                                    
                                    
                                    Read More                                </a>
                                                        </div>
                    </div>
                </div>
                            </div>
            </div>
    </div>				</div>
</div>
</div>
<div class="element elementor-element-77fde09 e-con-full e-flex e-con e-child" data-id="77fde09" data-element_type="container" data-e-type="container">
<div class="element elementor-element-726d928 ekit-equal-height-disable widget widget-elementskit-image-box" data-id="726d928" data-element_type="widget" data-e-type="widget" data-widget_type="elementskit-image-box.default">
<div class="elementor-widget-container">
<div class="ekit-wid-con" >
            <div class="elementskit-info-image-box ekit-image-box text-center simple-card" >

                <a href="https://www.judicialwatch.org/election-victory/" target="_blank">
                <div class="elementskit-box-header image-box-img-center">

                    <img loading="lazy" decoding="async" width="768" height="401" src="https://securethevotemd.com/wp-content/uploads/2025/06/JW_2025_WeeklyUpdate_03.21_1200x627_v1-2-768x401-1.jpg" class="attachment-full size-full wp-image-2773" alt="" srcset="https://securethevotemd.com/wp-content/uploads/2025/06/JW_2025_WeeklyUpdate_03.21_1200x627_v1-2-768x401-1.jpg 768w, https://securethevotemd.com/wp-content/uploads/2025/06/JW_2025_WeeklyUpdate_03.21_1200x627_v1-2-768x401-1-300x157.jpg 300w" sizes="(max-width: 768px) 100vw, 768px" />
                </div>
                </a>
                <div class="elementskit-box-body ekit-image-box-body">
                    <div class="elementskit-box-content ekit-image-box-body-inner">
                                                <h2 class="elementskit-info-box-title">

                        Election Integrity<br>Victory!
                        
                    </h2>
                                                            <div class="elementskit-box-style-content">
                        <strong>Federal Judge Upholds the Right to Inspect Maryland Voter Rolls</strong>
<br>
<br>Maryland is finally learning what other states have learned: federal law requires transparency in the voting process.
<br>District Court Judge Matthew J. Maddox of the U.S. District Court for the District of Maryland...                    </div>
                                    </div>

                                <div class="elementskit-box-footer">
                    <div class="box-footer">
                        <div class="btn-wraper">
                                                            <a href="https://www.judicialwatch.org/election-victory/" target="_blank" class="elementskit-btn whitespace--normal">
                                    
                                    
                                    Read More                                </a>
                                                        </div>
                    </div>
                </div>
                            </div>
            </div>
    </div>				</div>
</div>
</div>
</div>
</div>
<div class="element elementor-element-1c0b0ba e-flex e-con-boxed e-con e-parent" data-id="1c0b0ba" data-element_type="container" data-e-type="container">
<div class="e-con-inner">
<div class="element elementor-element-ec87c2e e-con-full e-flex e-con e-child" data-id="ec87c2e" data-element_type="container" data-e-type="container">
<div class="element elementor-element-5c7a70d ekit-equal-height-disable widget widget-elementskit-image-box" data-id="5c7a70d" data-element_type="widget" data-e-type="widget" data-widget_type="elementskit-image-box.default">
<div class="elementor-widget-container">
<div class="ekit-wid-con" >
            <div class="elementskit-info-image-box ekit-image-box text-center simple-card" >

                <a >
                <div class="elementskit-box-header image-box-img-center">

                    <img loading="lazy" decoding="async" width="800" height="420" src="https://securethevotemd.com/wp-content/uploads/2025/03/voter-roll-vote-1024x538.jpg" class="attachment-large size-large wp-image-2550" alt="" srcset="https://securethevotemd.com/wp-content/uploads/2025/03/voter-roll-vote-1024x538.jpg 1024w, https://securethevotemd.com/wp-content/uploads/2025/03/voter-roll-vote-300x158.jpg 300w, https://securethevotemd.com/wp-content/uploads/2025/03/voter-roll-vote-768x403.jpg 768w, https://securethevotemd.com/wp-content/uploads/2025/03/voter-roll-vote.jpg 1200w" sizes="(max-width: 800px) 100vw, 800px" />
                </div>
                </a>
                <div class="elementskit-box-body ekit-image-box-body">
                    <div class="elementskit-box-content ekit-image-box-body-inner">
                                                <h2 class="elementskit-info-box-title">

                        Victory for Election Integrity: Maryland Court Rules Against State Overreach in Landmark Voter Rights Case
                        
                    </h2>
                                                            <div class="elementskit-box-style-content">
                        The United States District Court for the District of Maryland struck a blow for election integrity by siding with plaintiffs Katherine Strauch Sullivan and David Morsberger in their legal battle against Maryland State Board of Elections officials.                    </div>
                                    </div>

                                <div class="elementskit-box-footer">
                    <div class="box-footer">
                        <div class="btn-wraper">
                                                            <a href="https://securethevotemd.com/2025/03/18/victory-for-election-integrity-maryland-court-rules-against-state-overreach-in-landmark-voter-rights-case/" target="_blank" class="elementskit-btn whitespace--normal">
                                    
                                    
                                    Read More                                </a>
                                                        </div>
                    </div>
                </div>
                            </div>
            </div>
    </div>				</div>
</div>
</div>
<div class="element elementor-element-f85e6b5 e-con-full e-flex e-con e-child" data-id="f85e6b5" data-element_type="container" data-e-type="container">
<div class="element elementor-element-6f2a91a ekit-equal-height-disable widget widget-elementskit-image-box" data-id="6f2a91a" data-element_type="widget" data-e-type="widget" data-widget_type="elementskit-image-box.default">
<div class="elementor-widget-container">
<div class="ekit-wid-con" >
            <div class="elementskit-info-image-box ekit-image-box text-center simple-card" >

                <a >
                <div class="elementskit-box-header image-box-img-center">

                    <img loading="lazy" decoding="async" width="800" height="533" src="https://securethevotemd.com/wp-content/uploads/2024/11/Election_2024_America_Votes_Nevada_01011.webp" class="attachment-large size-large wp-image-2336" alt="" srcset="https://securethevotemd.com/wp-content/uploads/2024/11/Election_2024_America_Votes_Nevada_01011.webp 863w, https://securethevotemd.com/wp-content/uploads/2024/11/Election_2024_America_Votes_Nevada_01011-300x200.webp 300w, https://securethevotemd.com/wp-content/uploads/2024/11/Election_2024_America_Votes_Nevada_01011-768x512.webp 768w" sizes="(max-width: 800px) 100vw, 800px" />
                </div>
                </a>
                <div class="elementskit-box-body ekit-image-box-body">
                    <div class="elementskit-box-content ekit-image-box-body-inner">
                                                <h2 class="elementskit-info-box-title">

                        Supporting democracy means fighting for secure elections | GUEST COMMENTARY
                        
                    </h2>
                                                            <div class="elementskit-box-style-content">
                        Nov. 5 marked a resounding victory for Donald Trump and his wing of the Republican Party. However, while the presidential race is over, the work to prove our elections are valid and lawful must continue.                    </div>
                                    </div>

                                <div class="elementskit-box-footer">
                    <div class="box-footer">
                        <div class="btn-wraper">
                                                            <a href="https://securethevotemd.com/2024/11/26/supporting-democracy-means-fighting-for-secure-elections/" target="_blank" class="elementskit-btn whitespace--normal">
                                    
                                    
                                    Read More                                </a>
                                                        </div>
                    </div>
                </div>
                            </div>
            </div>
    </div>				</div>
</div>
</div>
<div class="element elementor-element-0e6dd58 e-con-full e-flex e-con e-child" data-id="0e6dd58" data-element_type="container" data-e-type="container">
<div class="element elementor-element-d051e8b ekit-equal-height-disable widget widget-elementskit-image-box" data-id="d051e8b" data-element_type="widget" data-e-type="widget" data-widget_type="elementskit-image-box.default">
<div class="elementor-widget-container">
<div class="ekit-wid-con" >
            <div class="elementskit-info-image-box ekit-image-box text-center simple-card" >

                <a >
                <div class="elementskit-box-header image-box-img-center">

                    <img loading="lazy" decoding="async" width="800" height="600" src="https://securethevotemd.com/wp-content/uploads/2024/10/Gartner_Silver_Spring_Voting_Center_inside-scaled-1-1024x768.jpg" class="attachment-large size-large wp-image-2280" alt="" srcset="https://securethevotemd.com/wp-content/uploads/2024/10/Gartner_Silver_Spring_Voting_Center_inside-scaled-1-1024x768.jpg 1024w, https://securethevotemd.com/wp-content/uploads/2024/10/Gartner_Silver_Spring_Voting_Center_inside-scaled-1-300x225.jpg 300w, https://securethevotemd.com/wp-content/uploads/2024/10/Gartner_Silver_Spring_Voting_Center_inside-scaled-1-768x576.jpg 768w, https://securethevotemd.com/wp-content/uploads/2024/10/Gartner_Silver_Spring_Voting_Center_inside-scaled-1-1536x1152.jpg 1536w, https://securethevotemd.com/wp-content/uploads/2024/10/Gartner_Silver_Spring_Voting_Center_inside-scaled-1-2048x1536.jpg 2048w" sizes="(max-width: 800px) 100vw, 800px" />
                </div>
                </a>
                <div class="elementskit-box-body ekit-image-box-body">
                    <div class="elementskit-box-content ekit-image-box-body-inner">
                                                <h2 class="elementskit-info-box-title">

                        Poll workers are in high demand – especially Maryland Republicans
                        
                    </h2>
                                                            <div class="elementskit-box-style-content">
                        As local election boards work around the clock to recruit and train workers before early voting starts next week, some Maryland counties are facing pressure to hire more Republican election judges.                    </div>
                                    </div>

                                <div class="elementskit-box-footer">
                    <div class="box-footer">
                        <div class="btn-wraper">
                                                            <a href="https://securethevotemd.com/2024/10/21/poll-workers-are-in-high-demand-especially-maryland-republicans/" target="_blank" class="elementskit-btn whitespace--normal">
                                    
                                    
                                    Read More                                </a>
                                                        </div>
                    </div>
                </div>
                            </div>
            </div>
    </div>				</div>
</div>
</div>
</div>
</div>
<div class="element elementor-element-9a93251 e-flex e-con-boxed e-con e-parent" data-id="9a93251" data-element_type="container" data-e-type="container">
<div class="e-con-inner">
<div class="element elementor-element-b16458b e-con-full e-flex e-con e-child" data-id="b16458b" data-element_type="container" data-e-type="container">
<div class="element elementor-element-c6b4293 ekit-equal-height-disable widget widget-elementskit-image-box" data-id="c6b4293" data-element_type="widget" data-e-type="widget" data-widget_type="elementskit-image-box.default">
<div class="elementor-widget-container">
<div class="ekit-wid-con" >
            <div class="elementskit-info-image-box ekit-image-box text-center simple-card" >

                <a >
                <div class="elementskit-box-header image-box-img-center">

                    <img loading="lazy" decoding="async" width="512" height="288" src="https://securethevotemd.com/wp-content/uploads/2024/09/unnamed-3.png" class="attachment-large size-large wp-image-2230" alt="" srcset="https://securethevotemd.com/wp-content/uploads/2024/09/unnamed-3.png 512w, https://securethevotemd.com/wp-content/uploads/2024/09/unnamed-3-300x169.png 300w" sizes="(max-width: 512px) 100vw, 512px" />
                </div>
                </a>
                <div class="elementskit-box-body ekit-image-box-body">
                    <div class="elementskit-box-content ekit-image-box-body-inner">
                                                <h2 class="elementskit-info-box-title">

                        What’s Going on with Maryland’s Election Integrity? Asks Mike Lindell
                        
                    </h2>
                                                            <div class="elementskit-box-style-content">
                        “We have great people in Maryland working toward election accuracy,” said Kate Sullivan who was interviewed by Mike Lindell (co-hosting for the War Room). Kate Sullivan is the Team Leader for Secure the Vote Maryland and Maryland Election Integrity, LLC.                    </div>
                                    </div>

                                <div class="elementskit-box-footer">
                    <div class="box-footer">
                        <div class="btn-wraper">
                                                            <a href="https://securethevotemd.com/2024/09/04/whats-going-on-with-marylands-election-integrity-asks-mike-lindell/" target="_blank" class="elementskit-btn whitespace--normal">
                                    
                                    
                                    Read More                                </a>
                                                        </div>
                    </div>
                </div>
                            </div>
            </div>
    </div>				</div>
</div>
</div>
<div class="element elementor-element-bb500cc e-con-full e-flex e-con e-child" data-id="bb500cc" data-element_type="container" data-e-type="container">
<div class="element elementor-element-d9dfbac ekit-equal-height-disable widget widget-elementskit-image-box" data-id="d9dfbac" data-element_type="widget" data-e-type="widget" data-widget_type="elementskit-image-box.default">
<div class="elementor-widget-container">
<div class="ekit-wid-con" >
            <div class="elementskit-info-image-box ekit-image-box text-center simple-card" >

                <a href="https://www.thebaltimorebanner.com/politics-power/state-government/maryland-board-election-lawsuit-42TN7IZH7FDUZCWR5SBYPSJYNM/">
                <div class="elementskit-box-header image-box-img-center">

                    <img loading="lazy" decoding="async" width="1440" height="960" src="https://securethevotemd.com/wp-content/uploads/2024/04/AMPMSEFS2ZFYFNGRE5ZJZST6YQ.webp" class="attachment-full size-full wp-image-1698" alt="" srcset="https://securethevotemd.com/wp-content/uploads/2024/04/AMPMSEFS2ZFYFNGRE5ZJZST6YQ.webp 1440w, https://securethevotemd.com/wp-content/uploads/2024/04/AMPMSEFS2ZFYFNGRE5ZJZST6YQ-300x200.webp 300w, https://securethevotemd.com/wp-content/uploads/2024/04/AMPMSEFS2ZFYFNGRE5ZJZST6YQ-1024x683.webp 1024w, https://securethevotemd.com/wp-content/uploads/2024/04/AMPMSEFS2ZFYFNGRE5ZJZST6YQ-768x512.webp 768w" sizes="(max-width: 1440px) 100vw, 1440px" />
                </div>
                </a>
                <div class="elementskit-box-body ekit-image-box-body">
                    <div class="elementskit-box-content ekit-image-box-body-inner">
                                                <h2 class="elementskit-info-box-title">

                        A group plans to challenge election boards nationwide
                        
                    </h2>
                                                            <div class="elementskit-box-style-content">
                        A group questioning the validity of state voting systems and election procedures across the country is asking a federal court to rule Maryland’s election board is out of compliance with state and federal elections laws.                    </div>
                                    </div>

                                <div class="elementskit-box-footer">
                    <div class="box-footer">
                        <div class="btn-wraper">
                                                            <a href="https://www.thebaltimorebanner.com/politics-power/state-government/maryland-board-election-lawsuit-42TN7IZH7FDUZCWR5SBYPSJYNM/" target="_blank" class="elementskit-btn whitespace--normal">
                                    
                                    
                                    Read More                                </a>
                                                        </div>
                    </div>
                </div>
                            </div>
            </div>
    </div>				</div>
</div>
</div>
<div class="element elementor-element-64544d1 e-con-full e-flex e-con e-child" data-id="64544d1" data-element_type="container" data-e-type="container">
<div class="element elementor-element-4edfba4 ekit-equal-height-disable widget widget-elementskit-image-box" data-id="4edfba4" data-element_type="widget" data-e-type="widget" data-widget_type="elementskit-image-box.default">
<div class="elementor-widget-container">
<div class="ekit-wid-con" >
            <div class="elementskit-info-image-box ekit-image-box text-center simple-card" >

                <a href="https://www.uncoverdc.com/2024/03/14/md-legislators-to-vote-on-bill-that-puts-boe-in-charge-of-election-disinformation">
                <div class="elementskit-box-header image-box-img-center">

                    <img loading="lazy" decoding="async" width="800" height="450" src="https://securethevotemd.com/wp-content/uploads/2024/05/article_suppression.jpeg" class="attachment-full size-full wp-image-1818" alt="" srcset="https://securethevotemd.com/wp-content/uploads/2024/05/article_suppression.jpeg 800w, https://securethevotemd.com/wp-content/uploads/2024/05/article_suppression-300x169.jpeg 300w, https://securethevotemd.com/wp-content/uploads/2024/05/article_suppression-768x432.jpeg 768w" sizes="(max-width: 800px) 100vw, 800px" />
                </div>
                </a>
                <div class="elementskit-box-body ekit-image-box-body">
                    <div class="elementskit-box-content ekit-image-box-body-inner">
                                                <h2 class="elementskit-info-box-title">

                        MD Legislators To Vote On Bill That Puts BOE in Charge of Election Disinformation
                        
                    </h2>
                                                            <div class="elementskit-box-style-content">
                        According to a March 7 recorded Zoom call, Maryland State Board of Elections (MDSBE) Director Jared DeMarinis and several state legislators believe the bill is specific enough to avoid infringement of First Amendment speech. However, others are not so sure.                    </div>
                                    </div>

                                <div class="elementskit-box-footer">
                    <div class="box-footer">
                        <div class="btn-wraper">
                                                            <a href="https://www.uncoverdc.com/2024/03/14/md-legislators-to-vote-on-bill-that-puts-boe-in-charge-of-election-disinformation" target="_blank" class="elementskit-btn whitespace--normal">
                                    
                                    
                                    Read More                                </a>
                                                        </div>
                    </div>
                </div>
                            </div>
            </div>
    </div>				</div>
</div>
</div>
</div>
</div>
<div class="element elementor-element-10ea49d e-flex e-con-boxed e-con e-parent" data-id="10ea49d" data-element_type="container" data-e-type="container">
<div class="e-con-inner">
<div class="element elementor-element-d96fb6d e-con-full e-flex e-con e-child" data-id="d96fb6d" data-element_type="container" data-e-type="container">
<div class="element elementor-element-8755f92 ekit-equal-height-disable widget widget-elementskit-image-box" data-id="8755f92" data-element_type="widget" data-e-type="widget" data-widget_type="elementskit-image-box.default">
<div class="elementor-widget-container">
<div class="ekit-wid-con" >
            <div class="elementskit-info-image-box ekit-image-box text-center simple-card" >

                <a >
                <div class="elementskit-box-header image-box-img-center">

                    <img loading="lazy" decoding="async" width="612" height="346" src="https://securethevotemd.com/wp-content/uploads/2024/04/Capture.png" class="attachment-large size-large wp-image-1699" alt="" srcset="https://securethevotemd.com/wp-content/uploads/2024/04/Capture.png 612w, https://securethevotemd.com/wp-content/uploads/2024/04/Capture-300x170.png 300w" sizes="(max-width: 612px) 100vw, 612px" />
                </div>
                </a>
                <div class="elementskit-box-body ekit-image-box-body">
                    <div class="elementskit-box-content ekit-image-box-body-inner">
                                                <h2 class="elementskit-info-box-title">

                        Maryland State Board of Elections sued for inaccurate voting records
                        
                    </h2>
                                                            <div class="elementskit-box-style-content">
                        A group of everyday Maryland voters, that also happens to include computer scientists and statisticians, combed through the last three years of data from the Maryland State Board of Elections They were alarmed by what they found.                    </div>
                                    </div>

                                <div class="elementskit-box-footer">
                    <div class="box-footer">
                        <div class="btn-wraper">
                                                            <a href="https://www.wmar2news.com/local/maryland-state-board-of-elections-sued-for-inaccurate-voting-records" target="_blank" class="elementskit-btn whitespace--normal">
                                    
                                    
                                    Read More                                </a>
                                                        </div>
                    </div>
                </div>
                            </div>
            </div>
    </div>				</div>
</div>
</div>
<div class="element elementor-element-ab864bd e-con-full e-flex e-con e-child" data-id="ab864bd" data-element_type="container" data-e-type="container">
<div class="element elementor-element-69d094b ekit-equal-height-disable widget widget-elementskit-image-box" data-id="69d094b" data-element_type="widget" data-e-type="widget" data-widget_type="elementskit-image-box.default">
<div class="elementor-widget-container">
<div class="ekit-wid-con" >
            <div class="elementskit-info-image-box ekit-image-box text-center simple-card" >

                <a href="https://www.brennancenter.org/our-work/analysis-opinion/frivolous-lawsuit-targets-marylands-voter-rolls-and-voting-systems">
                <div class="elementskit-box-header image-box-img-center">

                    <img loading="lazy" decoding="async" width="700" height="400" src="https://securethevotemd.com/wp-content/uploads/2024/04/VoterforMarylandStory.jpg" class="attachment-full size-full wp-image-1700" alt="" srcset="https://securethevotemd.com/wp-content/uploads/2024/04/VoterforMarylandStory.jpg 700w, https://securethevotemd.com/wp-content/uploads/2024/04/VoterforMarylandStory-300x171.jpg 300w" sizes="(max-width: 700px) 100vw, 700px" />
                </div>
                </a>
                <div class="elementskit-box-body ekit-image-box-body">
                    <div class="elementskit-box-content ekit-image-box-body-inner">
                                                <h2 class="elementskit-info-box-title">

                        Frivolous Lawsuit Targets Maryland’s Voter Rolls and Voting Systems
                        
                    </h2>
                                                            <div class="elementskit-box-style-content">
                        In Maryland, two election denial groups are exploiting the courts to help lay the groundwork to undermine the 2024 election. The effort, part of a string of challenges to voter rolls and election procedures by an expansive network of activists and organizations.                    </div>
                                    </div>

                                <div class="elementskit-box-footer">
                    <div class="box-footer">
                        <div class="btn-wraper">
                                                            <a href="https://www.brennancenter.org/our-work/analysis-opinion/frivolous-lawsuit-targets-marylands-voter-rolls-and-voting-systems" target="_blank" class="elementskit-btn whitespace--normal">
                                    
                                    
                                    Read More                                 </a>
                                                        </div>
                    </div>
                </div>
                            </div>
            </div>
    </div>				</div>
</div>
</div>
<div class="element elementor-element-de67bad e-con-full e-flex e-con e-child" data-id="de67bad" data-element_type="container" data-e-type="container">
<div class="element elementor-element-a2c43a2 ekit-equal-height-disable widget widget-elementskit-image-box" data-id="a2c43a2" data-element_type="widget" data-e-type="widget" data-widget_type="elementskit-image-box.default">
<div class="elementor-widget-container">
<div class="ekit-wid-con" >
            <div class="elementskit-info-image-box ekit-image-box text-center simple-card" >

                <a href="https://www.baltimoresun.com/2024/03/08/group-whose-chairman-challenged-2020-presidential-vote-count-sues-maryland-elections-board/">
                <div class="elementskit-box-header image-box-img-center">

                    <img loading="lazy" decoding="async" width="863" height="575" src="https://securethevotemd.com/wp-content/uploads/2024/04/Election_Security_24441.webp" class="attachment-full size-full wp-image-1701" alt="" srcset="https://securethevotemd.com/wp-content/uploads/2024/04/Election_Security_24441.webp 863w, https://securethevotemd.com/wp-content/uploads/2024/04/Election_Security_24441-300x200.webp 300w, https://securethevotemd.com/wp-content/uploads/2024/04/Election_Security_24441-768x512.webp 768w" sizes="(max-width: 863px) 100vw, 863px" />
                </div>
                </a>
                <div class="elementskit-box-body ekit-image-box-body">
                    <div class="elementskit-box-content ekit-image-box-body-inner">
                                                <h2 class="elementskit-info-box-title">

                        Group whose chairman challenged 2020 presidential vote count sues Maryland elections board
                        
                    </h2>
                                                            <div class="elementskit-box-style-content">
                        United Sovereign Americans, a nonprofit Missouri corporation, says the Maryland State Board of Elections’ rolls contain thousands of voters of questionable status, including some with no certified address and others who died or moved away.                    </div>
                                    </div>

                                <div class="elementskit-box-footer">
                    <div class="box-footer">
                        <div class="btn-wraper">
                                                            <a href="https://www.baltimoresun.com/2024/03/08/group-whose-chairman-challenged-2020-presidential-vote-count-sues-maryland-elections-board/" target="_blank" class="elementskit-btn whitespace--normal">
                                    
                                    
                                    Read More                                </a>
                                                        </div>
                    </div>
                </div>
                            </div>
            </div>
    </div>				</div>
</div>
</div>
</div>
</div>
<div class="element elementor-element-cf552c7 e-flex e-con-boxed e-con e-parent" data-id="cf552c7" data-element_type="container" data-e-type="container">
<div class="e-con-inner">
<div class="element elementor-element-a4d4d8e e-con-full e-flex e-con e-child" data-id="a4d4d8e" data-element_type="container" data-e-type="container">
<div class="element elementor-element-e192468 ekit-equal-height-disable widget widget-elementskit-image-box" data-id="e192468" data-element_type="widget" data-e-type="widget" data-widget_type="elementskit-image-box.default">
<div class="elementor-widget-container">
<div class="ekit-wid-con" >
            <div class="elementskit-info-image-box ekit-image-box text-center simple-card" >

                <a href="https://www.americanthinker.com/articles/2024/03/challenging_election_irregularities_in_maryland.html">
                <div class="elementskit-box-header image-box-img-center">

                    <img loading="lazy" decoding="async" width="2560" height="1920" src="https://securethevotemd.com/wp-content/uploads/2024/04/district-court-2-scaled-1.jpg" class="attachment-full size-full wp-image-1703" alt="" srcset="https://securethevotemd.com/wp-content/uploads/2024/04/district-court-2-scaled-1.jpg 2560w, https://securethevotemd.com/wp-content/uploads/2024/04/district-court-2-scaled-1-300x225.jpg 300w, https://securethevotemd.com/wp-content/uploads/2024/04/district-court-2-scaled-1-1024x768.jpg 1024w, https://securethevotemd.com/wp-content/uploads/2024/04/district-court-2-scaled-1-768x576.jpg 768w, https://securethevotemd.com/wp-content/uploads/2024/04/district-court-2-scaled-1-1536x1152.jpg 1536w, https://securethevotemd.com/wp-content/uploads/2024/04/district-court-2-scaled-1-2048x1536.jpg 2048w" sizes="(max-width: 2560px) 100vw, 2560px" />
                </div>
                </a>
                <div class="elementskit-box-body ekit-image-box-body">
                    <div class="elementskit-box-content ekit-image-box-body-inner">
                                                <h2 class="elementskit-info-box-title">

                        Challenging Election Irregularities in Maryland
                        
                    </h2>
                                                            <div class="elementskit-box-style-content">
                        United Sovereign Americans, a nationwide group dedicated to fair and honest elections, has joined with Maryland Election Integrity, LLC, in filing a lawsuit in Maryland Federal Court against the Maryland State Board of Elections with Judge Stephanie A. Gallagher presiding.                    </div>
                                    </div>

                                <div class="elementskit-box-footer">
                    <div class="box-footer">
                        <div class="btn-wraper">
                                                            <a href="https://www.americanthinker.com/articles/2024/03/challenging_election_irregularities_in_maryland.html" target="_blank" class="elementskit-btn whitespace--normal">
                                    
                                    
                                    Read More                                 </a>
                                                        </div>
                    </div>
                </div>
                            </div>
            </div>
    </div>				</div>
</div>
</div>
<div class="element elementor-element-1df0197 e-con-full e-flex e-con e-child" data-id="1df0197" data-element_type="container" data-e-type="container">
<div class="element elementor-element-308251c ekit-equal-height-disable widget widget-elementskit-image-box" data-id="308251c" data-element_type="widget" data-e-type="widget" data-widget_type="elementskit-image-box.default">
<div class="elementor-widget-container">
<div class="ekit-wid-con" >
            <div class="elementskit-info-image-box ekit-image-box text-center simple-card" >

                <a href="https://www.democracydocket.com/news-alerts/right-wing-groups-file-new-election-lawsuit-in-maryland/">
                <div class="elementskit-box-header image-box-img-center">

                    <img loading="lazy" decoding="async" width="800" height="501" src="https://securethevotemd.com/wp-content/uploads/2024/04/Smartmatic-voting-machine-875x548-1.jpg" class="attachment-large size-large wp-image-1702" alt="" srcset="https://securethevotemd.com/wp-content/uploads/2024/04/Smartmatic-voting-machine-875x548-1.jpg 875w, https://securethevotemd.com/wp-content/uploads/2024/04/Smartmatic-voting-machine-875x548-1-300x188.jpg 300w, https://securethevotemd.com/wp-content/uploads/2024/04/Smartmatic-voting-machine-875x548-1-768x481.jpg 768w" sizes="(max-width: 800px) 100vw, 800px" />
                </div>
                </a>
                <div class="elementskit-box-body ekit-image-box-body">
                    <div class="elementskit-box-content ekit-image-box-body-inner">
                                                <h2 class="elementskit-info-box-title">

                        Right-Wing Groups File New Election Lawsuit in Maryland
                        
                    </h2>
                                                            <div class="elementskit-box-style-content">
                        The plaintiffs allege that the Maryland Board of Elections has failed to keep accurate voter rolls, improperly uses voting machines that are not certified correctly and unlawfully denied public information requests. Specifically, the lawsuit claims that Maryland’s voter rolls are “not accurate and current” in violation of the National Voter Registration Act.                     </div>
                                    </div>

                                <div class="elementskit-box-footer">
                    <div class="box-footer">
                        <div class="btn-wraper">
                                                            <a href="https://www.democracydocket.com/news-alerts/right-wing-groups-file-new-election-lawsuit-in-maryland/" target="_blank" class="elementskit-btn whitespace--normal">
                                    
                                    
                                    Read More                                </a>
                                                        </div>
                    </div>
                </div>
                            </div>
            </div>
    </div>				</div>
</div>
</div>
<div class="element elementor-element-2d72571 e-con-full e-flex e-con e-child" data-id="2d72571" data-element_type="container" data-e-type="container">
<div class="element elementor-element-3f8ead4 ekit-equal-height-disable widget widget-elementskit-image-box" data-id="3f8ead4" data-element_type="widget" data-e-type="widget" data-widget_type="elementskit-image-box.default">
<div class="elementor-widget-container">
<div class="ekit-wid-con" >
            <div class="elementskit-info-image-box ekit-image-box text-center simple-card" >

                <a href="https://www.uncoverdc.com/2024/03/04/the-sad-state-of-marylands-voter-rolls-79k-inaccurate-records-found">
                <div class="elementskit-box-header image-box-img-center">

                    <img loading="lazy" decoding="async" width="800" height="450" src="https://securethevotemd.com/wp-content/uploads/2024/04/article_elections.jpeg" class="attachment-full size-full wp-image-1704" alt="" srcset="https://securethevotemd.com/wp-content/uploads/2024/04/article_elections.jpeg 800w, https://securethevotemd.com/wp-content/uploads/2024/04/article_elections-300x169.jpeg 300w, https://securethevotemd.com/wp-content/uploads/2024/04/article_elections-768x432.jpeg 768w" sizes="(max-width: 800px) 100vw, 800px" />
                </div>
                </a>
                <div class="elementskit-box-body ekit-image-box-body">
                    <div class="elementskit-box-content ekit-image-box-body-inner">
                                                <h2 class="elementskit-info-box-title">

                        The Sad State of Maryland's Voter Rolls: 79k+ Inaccurate Records Found
                        
                    </h2>
                                                            <div class="elementskit-box-style-content">
                        After three years of grueling work, a group of citizen volunteers in Maryland, led by Kate Sullivan and David Morsberger, completed their report containing a statewide canvass and the results of their meticulous investigation of the state's voter rolls.                    </div>
                                    </div>

                                <div class="elementskit-box-footer">
                    <div class="box-footer">
                        <div class="btn-wraper">
                                                            <a href="https://www.uncoverdc.com/2024/03/04/the-sad-state-of-marylands-voter-rolls-79k-inaccurate-records-found" target="_blank" class="elementskit-btn whitespace--normal">
                                    
                                    
                                    Read More                                </a>
                                                        </div>
                    </div>
                </div>
                            </div>
            </div>
    </div>				</div>
</div>
</div>
</div>
</div>
</div>

