---
layout: base.njk
title: "REGISTER FOR LOBBY DAY – JAN 27"
description: "REGISTER FOR LOBBY DAY JOIN US FOR SECURE THE VOTE ACT 2026 LOBBY DAY— FEB 4 AT 9AM &#8211; House of Delegates 6 Bladen Street Media Room"
slug: "register-for-lobby-day-jan-27"
order: 999
date: 2026-01-12T22:06:00
formId: "inline-ZVGUvP6MG6xIiU4gg4Nq"
formUrl: "https://api.leadconnectorhq.com/widget/form/ZVGUvP6MG6xIiU4gg4Nq"
formName: "Pop-Up Registration"
---

<div data-elementor-type="wp-page" data-elementor-id="3283" class="elementor elementor-3283" data-elementor-post-type="page">
<section class="section element elementor-element-889e351 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="889e351" data-element_type="section" data-e-type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
<div class="background-overlay"></div>
<div class="container column-gap-default">
<div class="column elementor-top-column element elementor-element-c803fde" data-id="c803fde" data-element_type="column" data-e-type="column">
<div class="widget-wrap">
</div>
</div>
<div class="column elementor-top-column element elementor-element-14342ca" data-id="14342ca" data-element_type="column" data-e-type="column">
<div class="widget-wrap element-populated">
<div class="element elementor-element-f808784 fade-in widget widget-heading" data-id="f808784" data-element_type="widget" data-e-type="widget" data-settings="{&quot;_animation&quot;:&quot;fadeIn&quot;}" data-widget_type="heading.default">
<div class="elementor-widget-container">
<h1 class="heading-title size-default">REGISTER FOR LOBBY DAY </h1>				</div>
</div>
<div class="element elementor-element-b1485eb elementor-widget-divider--view-line widget widget-divider" data-id="b1485eb" data-element_type="widget" data-e-type="widget" data-widget_type="divider.default">
<div class="elementor-widget-container">
<div class="divider">
<span class="divider-separator">
</span>
</div>
</div>
</div>
</div>
</div>
<div class="column elementor-top-column element elementor-element-f1ddad7" data-id="f1ddad7" data-element_type="column" data-e-type="column">
<div class="widget-wrap">
</div>
</div>
</div>
</section>
<div class="element elementor-element-f165a2b e-flex e-con-boxed e-con e-parent" data-id="f165a2b" data-element_type="container" data-e-type="container">
<div class="e-con-inner">
<div class="element elementor-element-756841b widget widget-heading" data-id="756841b" data-element_type="widget" data-e-type="widget" id="register-now" data-widget_type="heading.default">
<div class="elementor-widget-container">
<h2 class="heading-title size-default">JOIN US FOR SECURE THE VOTE ACT 2026 LOBBY DAY<br>— FEB 4 AT 9AM - House of Delegates 6 Bladen Street Media Room</h2>				</div>
</div>
</div>
</div>
<div class="element elementor-element-4ef4285 e-flex e-con-boxed e-con e-parent" data-id="4ef4285" data-element_type="container" data-e-type="container" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
<div class="e-con-inner">
<div class="element elementor-element-f723c35 e-con-full e-flex e-con e-child" data-id="f723c35" data-element_type="container" data-e-type="container">
<div class="element elementor-element-8d33147 widget widget-html" data-id="8d33147" data-element_type="widget" data-e-type="widget" data-widget_type="html.default">
<div class="elementor-widget-container">
<iframe
    src="https://api.leadconnectorhq.com/widget/form/ZVGUvP6MG6xIiU4gg4Nq"
    style="width:100%;height:100%;border:none;border-radius:3px"
    id="inline-ZVGUvP6MG6xIiU4gg4Nq"
    data-layout="{'id':'INLINE'}"
    data-trigger-type="alwaysShow"
    data-trigger-value=""
    data-activation-type="alwaysActivated"
    data-activation-value=""
    data-deactivation-type="neverDeactivate"
    data-deactivation-value=""
    data-form-name="Pop-Up Registration"
    data-height="698"
    data-layout-iframe-id="inline-ZVGUvP6MG6xIiU4gg4Nq"
    data-form-id="ZVGUvP6MG6xIiU4gg4Nq"
    title="Pop-Up Registration"
        >
</iframe>
<script src="https://link.msgsndr.com/js/form_embed.js"></script>				</div>
</div>
</div>
<div class="element elementor-element-cde0732 e-con-full e-flex e-con e-child" data-id="cde0732" data-element_type="container" data-e-type="container">
<div class="element elementor-element-890f19d widget widget-image" data-id="890f19d" data-element_type="widget" data-e-type="widget" data-widget_type="image.default">
<div class="elementor-widget-container">
<img fetchpriority="high" decoding="async" width="940" height="788" src="https://securethevotemd.com/wp-content/uploads/2026/02/Democracy-7.png" class="attachment-full size-full wp-image-3449" alt="" srcset="https://securethevotemd.com/wp-content/uploads/2026/02/Democracy-7.png 940w, https://securethevotemd.com/wp-content/uploads/2026/02/Democracy-7-300x251.png 300w, https://securethevotemd.com/wp-content/uploads/2026/02/Democracy-7-768x644.png 768w" sizes="(max-width: 940px) 100vw, 940px" />															</div>
</div>
</div>
</div>
</div>
</div>

