name: Deploy to Vercel
on:
  push:
    branches: [main, staging]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Trigger Vercel Deploy
        run: |
          if [ "${{ github.ref_name }}" = "main" ]; then
            curl -s -X POST "https://api.vercel.com/v1/integrations/deploy/prj_ToDYtaNFY2C3qT8vWrDPvoxIebn5/J5yMPXMXpz"
            echo "Triggered production deploy"
          elif [ "${{ github.ref_name }}" = "staging" ]; then
            curl -s -X POST "https://api.vercel.com/v1/integrations/deploy/prj_ToDYtaNFY2C3qT8vWrDPvoxIebn5/BJI2d9egI7"
            echo "Triggered staging deploy"
          fi
